<template>
<div class="container">
    <br />
    <banners type='main' />
    <special-contents />
    <home-menu />
    <help />
</div>
</template>

<script>
import Help from "../../components/Public/Help";
import Banners from "../../components/Public/Banners";
import HomeMenu from '../../components/Content/HomeMenu';
import SpecialContents from '../../components/Content/Special';
export default {
    name: "Home",
    components: {
        Banners,
        Help,
        HomeMenu,
        SpecialContents
    },
    data() {
        return {
            siteUrl: window.surl,
            menu: null,
        };
    },

    created: function () {
        this.getCategories();
    },
    methods: {
        getCategories() {
            axios.get("/menu").then(response => {
                this.menu = response.data.data;
            });
        },
    }
};
</script>
