<template>
<div style="width: 100%">
    <template v-if="banners && banners.length>0">
        <a-carousel arrows autoplay>
            <div slot="prevArrow" class="custom-slick-arrow" style="left: 20px; zIndex: 2">
                <a-icon type="left-circle" />
            </div>
            <div slot="nextArrow" class="custom-slick-arrow" style="right: 20px">
                <a-icon type="right-circle" />
            </div>
            
            <div key="banner">
                <img src="/banner.png" />
            </div>
            <template v-for="i in banners">
                <div :key="'banner_'+i.id">
                    <img :src="i.image" />
                    <div class="title">
                        <template v-if="i.link">
                            <h3 v-if="i.title"><a :href="i.link">{{i.title}}</a></h3>
                            <p v-if="i.title2"><a :href="i.link">{{i.title2}}</a></p>
                        </template>
                        <template v-else>
                            <h3 v-if="i.title">{{i.title}}</h3>
                            <p v-if="i.title2">{{i.title2}}</p>
                        </template>
                    </div>
                </div>
            </template>
        </a-carousel>
    </template>
</div>
</template>

<script>
export default {
    name: "Banners",
    props: ["type"],
    data() {
        return {
            slide: 0,
            sliding: null,
            row: {
                key: this.type
            },
            banners: null
        }
    },
    created() {
        this.get();
    },

    methods: {
        onSlideStart(slide) {
            this.sliding = true
        },
        onSlideEnd(slide) {
            this.sliding = false
        },

        get() {
            let formData = new FormData();
            formData.append("data", JSON.stringify(this.row));
            axios.post("/banners", formData).then(response => {
                if (response && response.data && response.data.is_done) {
                    this.banners = response.data.data;
                }
            });
        },
    }
};
</script>

<style scoped>
.ant-carousel>>>.slick-slide {
    text-align: center;
    height: auto;
    line-height: auto;
    background: white;
    overflow: hidden;
}

.ant-carousel>>>.custom-slick-arrow {
    width: 25px;
    height: 25px;
    font-size: 25px;
    color: orange;
    background-color: transparent;
    opacity: 0.3;
}

.ant-carousel>>>.custom-slick-arrow:before {
    display: none;
}

.ant-carousel>>>.custom-slick-arrow:hover {
    opacity: 0.5;
}

.ant-carousel>>>.slick-slide img {
    width: 100%;
    height: auto;
}

.ant-carousel>>>.slick-slide .title {
    position: absolute;
    bottom: 0px;
    color: #fff;
    background-color: transparent;
    background-image: linear-gradient(180deg, transparent, #9e9e9e);
    width: 100%;
    min-height: 100px;
    text-align: left;
    padding: 20px;
    padding-top: 40px;
}

.ant-carousel>>>.slick-slide .title p a {
    color: white;
}

.ant-carousel>>>.slick-slide .title h3,
.ant-carousel>>>.slick-slide .title h3 a {
    color: white;
    margin-bottom: 0px;
}
</style>
