<style scoped>
.store_link {
  width: 100%;
  padding: 20px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.store_link a {
  background: black;
  border-color: dimgrey;
  border-radius: 100px !important;
  color: white;
  width: 250px;
  border-width: 2px;
  padding: 15px 30px;
}
</style>
<template>
<div class="store_link">
  <a href="#" target="_blank"> <img src="applelogo.png"> Appstore-c татах</a>

  <a href="https://play.google.com/store/apps/details?id=mn.ekv.ekv" target="_blank"> <img src="googlelogo.png"> Playstore-c татах</a>
</div>
</template>

<script>
export default {
  name: "Download",
}
</script>
