<template>
<div class="help_menu">
  <div>
    <a href="/#/about_us" class="nav-link">Бидний тухай</a><span role="presentation" aria-hidden="true"> · </span>
    <a href="/#/terms" class="nav-link">Үйлчилгээний нөхцөл</a><span role="presentation" aria-hidden="true"> · </span>
    <a href="/#/faqs" class="nav-link">Тусламж</a><span role="presentation" aria-hidden="true"> · </span>
    <a href="/#/contact" class="nav-link">Холбоо барих</a>
  </div>
  <small class="copyrights"> Бүх эрх хуулиар хамгаалагдсан © {{ new Date().getFullYear() }}</small>
</div>
</template>

<script>
export default {
  name: "Help",
}
</script>
