<template>
<div class="about-info">
    <div class="row" v-if="row">
        <div class="about-title">
            Хаягийн мэдээлэл
            <a-button @click="showAddressModal(null,true)" type="primary" size="small" icon="plus" v-if="row && $store.getters.authUser.id == row.id" />
        </div>

        <div class="col-md-12 card" v-if="row">
            <div class="row">
                <div class="col-md-12" v-for="row in row.addresses" :key="row.id">
                    <div class="info-block">
                        <div class="info-icon">
                            <i v-if="row.address_type== 'home'" class="fa fa-home" aria-hidden="true"></i>
                            <i v-if="row.address_type== 'work'" class="fa fa-building"></i>
                            <i v-if="row.address_type== 'school'" class="fa fa-graduation-cap"></i>
                            <i v-if="row.address_type== 'other'" class="fa fa-map-marker"></i>
                        </div>
                        <div class="info-text"><span>{{row.city ? row.city.name : ""}} {{row.city && row.city.code == 11 ? 'хот' : 'аймаг'}} {{row.district ? row.district.name: ''}} {{row.city && row.city.code == 11 ? 'дүүрэг' : ''}} {{row.ward ? row.ward.name : "" }}</span>{{row.address}}</div>
                        <div class="info-action">
                            <button class="submit-btn" v-if="row && $store.getters.authUser.id == row.id" @click="showAddressModal(row,true)">засах</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a-drawer :title="address_data.id===0 ? 'Хаягийн мэдээлэл нэмэх' : 'Хаягийн мэдээлэл засах'" placement="right" @close="address_modal=false; emtpyAddressData();" :visible="address_modal">
        <form @submit.prevent="addressFormSubmit">
            <div class="form-group">
                <label>Хаягийн төрөл</label>
                <select class="form-control" v-model="address_data.address_type">
                    <option :value="null">---</option>
                    <option value="home">Гэр</option>
                    <option value="work">Ажил</option>
                    <option value="school">Сургууль</option>
                    <option value="other">Бусад</option>
                </select>
            </div>

            <div class="form-group" v-if="address_data.address_type == 'other'">
                <label>Хаягийн төрөл</label>
                <input type="text" class="ant-input" v-model="address_data.other_value" />
            </div>

            <div class="form-group">
                <label>Хот/Аймаг сонгох</label>
                <select class="form-control" v-model="address_data.city_id" @change="changeCountry('districts', address_data.city_id); ">
                    <option :value="null"></option>
                    <option v-for="city in cities" :key="city.id" :value="city.id">{{city.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Сум/Дүүрэг сонгох</label>
                <select class="form-control" v-model="address_data.district_id" @change="changeCountry('wards', address_data.district_id); ">
                    <option :value="null"></option>
                    <option v-for="district in districts" :key="district.id" :value="district.id">{{district.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Хороо/Баг сонгох</label>
                <select class="form-control" v-model="address_data.ward_id">
                    <option :value="null"></option>
                    <option v-for="ward in wards" :key="ward.id" :value="ward.id">{{ward.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Хаягийн дэлгэрэнгүй</label>
                <input type="text" class="ant-input" v-model="address_data.address" />
            </div>

            <div class="form-group">
                <label>Уртраг (MAP)</label>
                <input type="text" class="ant-input" v-model="address_data.long" />
            </div>

            <div class="form-group">
                <label>Өргөрөг (MAP)</label>
                <input type="text" class="ant-input" v-model="address_data.lat" />
            </div>
            <div :style="{
            position: 'absolute',
            bottom: 0,
            width: '100%',
            borderTop: '1px solid #e8e8e8',
            padding: '10px 16px',
            textAlign: 'right',
            left: 0,
            background: '#fff',
            borderRadius: '0 0 4px 4px',
          }">
                <a-button class @click="address_modal=false; emtpyAddressData()">Болих</a-button>
                <a-button @click="addressFormSubmit" type="primary">Хадгалах</a-button>
            </div>
        </form>
    </a-drawer>
</div>
</template>

<script>
export default {
    name: "Address",
    props: ["user"],
    data: function () {
        return {
            row: this.user,

            // address form - modal
            cities: [],
            districts: [],
            wards: [],
            address_modal: false,
            address_data: {
                id: 0,
                user_id: 0,
                city_id: 0,
                district_id: 0,
                ward_id: 0,
                address: "",
                address_type: 'home',
                other_value: '',
                long: "",
                lat: "",
            },
        };
    },
    computed: {},
    created() {
        this.getCities();
    },
    methods: {
        getCities() {
            axios.get("/cities").then(response => {
                this.cities = response.data.data;
            });
        },
        ////////////////////////////////////////////////////////////
        //////////////// address model - start /////////////////////
        ////////////////////////////////////////////////////////////
        changeCountry(type, val) {
            axios.get("/" + type + "/" + val).then(response => {
                if (type == "districts") {
                    this.districts = response.data.data;
                    this.wards = [];
                } else {
                    this.wards = response.data.data;
                }
            });
        },

        emtpyAddressData() {
            this.address_data = {
                id: 0,
                user_id: this.row.id,
                city_id: 0,
                district_id: 0,
                ward_id: 0,
                address: "",
                address_type: 'home',
                other_value: '',
                long: "",
                lat: "",
            }
        },

        showAddressModal(row, status) {
            if (row == null) {
                this.emtpyAddressData();
                axios.get("/districts/" + this.cities[0].id).then(response_districts => {
                    this.districts = response_districts.data.data;
                    axios.get("/wards/" + response_districts.data.data[0].id).then(response_wards => {
                        this.wards = response_wards.data.data;
                        this.address_modal = true;
                    });
                });
            } else {
                this.address_data = row;
                axios.get("/districts/" + row.city_id).then(response_districts => {
                    this.districts = response_districts.data.data;
                    axios.get("/wards/" + response_districts.data.data[0].id).then(response_wards => {
                        this.wards = response_wards.data.data;
                        this.address_modal = true;
                    });
                });
            }
        },

        addressFormSubmit() {
            this.$nprogress.start();
            let formData = new FormData();
            formData.append("data", JSON.stringify(this.address_data));
            axios.post("/user_addresses", formData).then(response => {
                this.$nprogress.done();
                if (response && response.data && response.data.is_done) {
                    this.emtpyAddressData();
                    this.address_modal = false;
                    this.row.addresses = response.data.data;
                    this.$notification["success"]({
                        message: response.data.message
                    });
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        message: response.data.message
                    });
                }
            });
        },
        ////////////////////////////////////////////////////////////
        //////////////// address model - end ///////////////////////
        ////////////////////////////////////////////////////////////
    }
};
</script>
