<template>
<div class="about-info">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="about-title">
                    Нэмэлт холбоо барих мэдээлэл
                    <a-button @click="showContactModal(null,true)" type="primary" size="small" icon="plus" v-if="row && $store.getters.authUser.id == row.id" />
                </div>
                <div class="col-md-12 card" v-if="row">
                    <div class="row">
                        <div class="col-md-12" v-for="row in row.contacts" :key="row.id">
                            <div class="info-block">
                                <div class="info-icon">
                                    <i v-if="row.providers=='phone'" class="fa fa-phone"></i>
                                    <i v-if="row.providers=='email'" class="fa fa-envelope"></i>
                                    <i v-else class="fa fa-link"></i>
                                </div>
                                <div class="info-text"><span>{{row.providers}}</span>{{row.value}}</div>
                                <div class="info-action">
                                    <button class="submit-btn" v-if="row && $store.getters.authUser.id == row.id" @click="showContactModal(row,true)">засах</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a-drawer :title="contact_data.id===0 ? 'Холбоо барих: нэмэх' : 'Холбоо барих: засах'" placement="right" @close="contact_modal=false; emtpyContactData();" :visible="contact_modal">
        <form @submit.prevent="contactFormSubmit">
            <div class="form-group">
                <label>Хаягийн төрөл</label>
                <select class="form-control" v-model="contact_data.providers">
                    <option :value="null">---</option>
                    <option value="email">Мэйл</option>
                    <option value="phone">Утас</option>
                    <option value="facebook">facebook</option>
                    <option value="twitter">twitter</option>
                    <option value="linkedin">LinkedIn</option>
                </select>
            </div>

            <div class="form-group">
                <label>Утга эсвэл холбоос бичнэ үү</label>
                <input type="text" class="ant-input" v-model="contact_data.value" />
            </div>
            <div :style="{
            position: 'absolute',
            bottom: 0,
            width: '100%',
            borderTop: '1px solid #e8e8e8',
            padding: '10px 16px',
            textAlign: 'right',
            left: 0,
            background: '#fff',
            borderRadius: '0 0 4px 4px',
          }">
                <a-button class @click="contact_modal=false; emtpyContactData()">Болих</a-button>
                <a-button @click="contactFormSubmit" type="primary">Хадгалах</a-button>
            </div>
        </form>
    </a-drawer>
</div>
</template>

<script>
export default {
    name: "Contact",
    props: ["user"],
    data: function () {
        return {
            row: this.user,

            // contact form - modal
            contact_modal: false,
            contact_data: {
                id: 0,
                user_id: 0,
                providers: 0,
                value: 0,
            },
        };
    },
    computed: {},
    created() {
        // this.getCities();
    },
    methods: {
        // getCities() {
        //   axios.get("/cities").then(response => {
        //     this.cities = response.data.data;
        //   });
        // },
        ////////////////////////////////////////////////////////////
        //////////////// contact model - start /////////////////////
        ////////////////////////////////////////////////////////////
        emtpyContactData() {
            this.contact_data = {
                id: 0,
                user_id: this.row.id,
                providers: null,
                value: "",
            }
        },

        showContactModal(row, status) {
            this.emtpyContactData();
            if (row != null) {
                this.contact_data = row;
            }
            this.contact_modal = true;
        },

        contactFormSubmit() {
            this.$nprogress.start();
            let formData = new FormData();
            formData.append("data", JSON.stringify(this.contact_data));
            axios.post("/user_contacts", formData).then(response => {
                this.$nprogress.done();
                if (response && response.data && response.data.is_done) {
                    this.emtpyContactData();
                    this.contact_modal = false;
                    this.row.contacts = response.data.data;
                    this.$notification["success"]({
                        message: response.data.message
                    });
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        message: response.data.message
                    });
                }
            });
        },
        ////////////////////////////////////////////////////////////
        //////////////// contact model - end ///////////////////////
        ////////////////////////////////////////////////////////////

    }
};
</script>
