<template>
<div class="about-info">
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="padding-right: 30px">
                <div class="about-title">
                    Үндсэн мэдээлэл
                </div>
                <div class="col-md-12 card" v-if="row">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumb">
                                <img :src="row.avatar" alt="profile" class="profile">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="info-block">
                                <div class="info-icon"><i class="fa fa-user"></i></div>
                                <div class="info-text"><span> Овог нэр</span>{{row.lastname}} {{row.firstname}}</div>
                                <div class="info-action">
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-icon"><i class="fa fa-id-card"></i></div>
                                <div class="info-text"><span> Нэвтрэх нэр</span> {{$store.getters.authUser.id == row.id ? row.login_name : "********"}}</div>
                                <div class="info-action">
                                </div>
                            </div>

                            <div class="info-block">
                                <div class="info-icon"><i class="fa fa-registered"></i></div>
                                <div class="info-text"><span> Регистр</span> {{$store.getters.authUser.id == row.id ? row.rd : '**********'}}</div>
                                <div class="info-action">
                                </div>
                            </div>
                            <div class="info-block">
                                <div class="info-icon"><i class="fa fa-calendar"></i></div>
                                <div class="info-text"><span> Төрсөн өдөр</span> {{$store.getters.authUser.id == row.id ? row.birthday : '----/--/--'}}</div>
                            </div>
                            <div class="info-block">
                                <div class="info-icon"><i class="fa fa-venus-mars"></i></div>
                                <div class="info-text"><span> Хүйс</span> {{row.gender == 'female' ? 'эмэгтэй' : 'эрэгтэй'}}</div>
                            </div>

                            <div class="info-block">
                                <div class="info-icon"><i class="fa fa-clock"></i></div>
                                <div class="info-text"><span> Бүртгэл үүсгэсэн огноо</span> {{row.created_at}}</div>
                            </div>
                            <div class="info-action">
                                <a-button type="primary" class="submit-btn" @click="showModal()">засах</a-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a-drawer :title="'Үндсэн мэдээлэл засах'" placement="right" @close="info_modal=false;" :visible="info_modal">
        <form @submit.prevent="formSubmit" v-if="row">
            <div class="form-group">
                <label>Овог</label>
                <input type="text" class="ant-input" v-model="row.firstname" />
            </div>

            <div class="form-group">
                <label>Нэр</label>
                <input type="text" class="ant-input" v-model="row.lastname" />
            </div>

            <div class="form-group">
                <label>Нэвтрэх нэр</label>
                <input type="text" class="ant-input" v-model="row.login_name" />
            </div>

            <div class="form-group">
                <label>Регистрийн дугаар</label>
                <input type="text" class="ant-input" v-model="row.rd" minlength="10" maxlength="10" required />
            </div>
            <div :style="{
            position: 'absolute',
            bottom: 0,
            width: '100%',
            borderTop: '1px solid #e8e8e8',
            padding: '10px 16px',
            textAlign: 'right',
            left: 0,
            background: '#fff',
            borderRadius: '0 0 4px 4px',
          }">
                <a-button class @click="info_modal=false;">Болих</a-button>
                <a-button @click="formSubmit" type="primary">Хадгалах</a-button>
            </div>
        </form>
    </a-drawer>
</div>
</template>

<script>
export default {
    name: "Info",
    props: ["user"],
    data: function () {
        return {
            row: this.user,
            info_modal: false,
        };
    },
    methods: {
        showModal() {
            this.info_modal = true;
        },
        formSubmit() {
            this.$nprogress.start();
            let formData = new FormData();
            formData.append("data", JSON.stringify(this.row));
            axios.post("/users", formData).then(response => {
                this.$nprogress.done();
                if (response && response.data && response.data.is_done) {
                    this.info_modal = false;
                    this.row = response.data.data;
                    this.$notification["success"]({
                        message: response.data.message
                    });
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        message: response.data.message
                    });
                }
            });
        }

    }
};
</script>
