<template>
<div class="auth_form">
    <h1>Нууц үг сэргээх</h1>
    <form>
        <label> Бүртгэлтэй мэйл хаягаа бичнэ үү. (example@gmail.com)</label>
        <input v-model="mpData.email" type="text" name="" class="form-control input_user" value="">
        <p>{{mpData.message}}</p>

        <button @click.prevent="setModalMPSubmit" class="button button-block">нууц үг сэргээх</button>
    </form>

    <p class="more">
        <a href="/#/login" class="main">Нэвтрэх</a>
    </p>
</div>
</template>

<script>
import Help from "../../../components/Public/Help";

export default {
    name: "forgot",
    components: {
        Help,
    },
    data: function () {
        return {
            siteUrl: window.surl,
            term_text_data: "",
            isShowTerm: 0,
            mpVisible: false,
            processing: false,
            loginData: {
                login_name: "",
                password: ""
            },
            registerData: {
                team: [],
                user_type: [],
                firstname: null,
                lastname: null,
                email: null,
                phone: null,
                password: null,
                isCheckTerm: false
            },

            asyncTeam: [],
            isAsyncTeam: false,
            searchData: {
                value: ""
            },
            mpData: {
                email: null,
                message: ""
            },
            asyncUserType: [],
            isLoadingUserType: false,
            registerReg: {
                email: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
                phone: /(^[\d]{8}$)/,
                password: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{6,10}$/,
                rd: /^[АБВГДЕЁЖЗИЙКЛМНОӨПРСТУҮФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмноөпрстуүфхцчшщъыьэюя][АБВГДЕЁЖЗИЙКЛМНОӨПРСТУҮФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмноөпрстуүфхцчшщъыьэюя][0-9]{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])[0-9]{2}$/,
                firstname: /^([АБВГДЕЁЖЗИЙКЛМНОӨПРСТУҮФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмноөпрстуүфхцчшщъыьэюя]+[]?[]?|[АБВГДЕЁЖЗИЙКЛМНОӨПРСТУҮФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмноөпрстуүфхцчшщъыьэюя]+[-]?)+$/,
                lastname: /^([АБВГДЕЁЖЗИЙКЛМНОӨПРСТУҮФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмноөпрстуүфхцчшщъыьэюя]+[]?[]?|[АБВГДЕЁЖЗИЙКЛМНОӨПРСТУҮФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмноөпрстуүфхцчшщъыьэюя]+[-]?)+$/
            }
        };
    },
    created() {
        this.fetchData();
    },
    methods: {
        fetchData() {
            axios.get("/term").then(response => {
                this.term_text_data = response.data.data;
            });
        },
        setModalMP(mpVisible) {
            this.mpVisible = mpVisible;
        },
        setModalMPSubmit() {
            let a = this;
            axios
                .post("/passwordResetByEmail", this.mpData)
                .then(response => {
                    if (response.data.status == 0) {
                        this.mpVisible = false;
                        this.mpData.email = null;
                        this.mpData.message = "";
                        this.$notification["success"]({
                            message: "Амжилттай",
                            description: response.data.message
                        });
                    } else {
                        this.mpData.message = response.data.message;
                    }
                })
                .catch(function (error) {
                    a.mpData.message =
                        "Мэйл илгээхэд алдаа гарлаа мэйлээ шалгаад дахин илгээнэ үү!";
                })
                .then(function () {
                    a.mpData.message =
                        "Мэйл илгээхэд алдаа гарлаа мэйлээ шалгаад дахин илгээнэ үү!";
                });
        },
        onChangeTerm(e) {
            this.registerData.isCheckTerm = this.registerData.isCheckTerm;
        },
        selectUserType(selectedItems) {
            this.registerData.user_type = selectedItems;
        },
        selectTeam(selectedItems) {
            this.registerData.team = selectedItems;
            if (
                this.registerData &&
                this.registerData.team &&
                this.registerData.team.id > 0
            ) {
                this.isLoadingUserType = true;
                axios
                    .get("/registerSearchUserType/" + this.registerData.team.team_type)
                    .then(response => {
                        this.asyncUserType = response.data.success;
                        this.isLoadingUserType = false;
                    });
            }
        },
        asyncFindTeam(query) {
            if (query) {
                if (query.length > 2) {
                    this.isAsyncTeam = true;
                    this.searchData.value = query;
                    axios.post("/team_search", this.searchData).then(response => {
                        this.asyncTeam = response.data.success;
                        this.isAsyncTeam = false;
                    });
                }
            }
        },
        nameTeam({
            id,
            name,
            team_type
        }) {
            return `${name}`;
        },
        nameUserType({
            id,
            name
        }) {
            return `${name}`;
        },

        registerSubmit() {
            const {
                team,
                user_type,
                firstname,
                lastname,
                rd,
                email,
                phone,
                password,
                login_name,
                isCheckTerm
            } = this.registerData;
            if (!team.id) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Холбоо/Хороо сонгоно уу!"
                });
                return;
            }

            if (!user_type.id) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Албан тушаал сонгоно уу!"
                });
                return;
            }

            if (!login_name || login_name.length < 5) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Нэвтрэх урт нь багадаа 5 тэмдэгт байна!"
                });
                return;
            }

            if (!rd || rd.length != 10 || !this.registerReg.rd.test(rd)) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "РД зөв бөглөнө үү!"
                });
                return;
            }

            if (!lastname || !this.registerReg.firstname.test(lastname)) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Овогоо крилл үсгээр ямар нэгэн тэмдэгт оруулахгүй зөв бичнэ үү!"
                });
                return;
            }

            if (
                !firstname ||
                rd.length < 2 ||
                !this.registerReg.firstname.test(firstname)
            ) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Нэрээ крилл үсгээр ямар нэгэн тэмдэгт оруулахгүй зөв бичнэ үү!"
                });
                return;
            }

            if (!phone || !this.registerReg.phone.test(phone)) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Утасны дугаараа зөв бөглөнө үү!"
                });
                return;
            }

            if (!email || !this.registerReg.email.test(email)) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Танай мэйл хаягны формат буруу байна! Зөв мэйл оруулна уу!"
                });
                return;
            }

            if (!password || !this.registerReg.password.test(password)) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Нууц үг багадаа 6 тэмдэгт(#$^+=!*()@%&) байх бөгөөд та багадаа 1 тусгай тэмдэгт ашиглана уу!"
                });
                return;
            }

            if (!isCheckTerm) {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Та үйлчилгээний нөхцөлтэй уншиж танилцаад зөвшөөрч байгаа тохиолдолд бүртгүүлэх боломжтой!"
                });
                return;
            }

            if (this.processing === true) {
                return;
            }
            this.processing = true;
            this.$nprogress.start();
            axios.post("/register", this.registerData).then(response => {
                if (response.data.status == 0) {
                    this.$notification["success"]({
                        message: "Амжилттай",
                        description: response.data.message
                    });
                    this.registerData = {
                        team: [],
                        user_type: [],
                        firstname: null,
                        lastname: null,
                        email: null,
                        phone: null,
                        password: null,
                        isCheckTerm: false
                    };

                    // this.processing= false;
                    // this.$nprogress.done();
                    // return;
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: response.data.message
                    });
                    // this.processing= false;
                    // this.$nprogress.done();
                    // return;
                }
            });
        },

        loginSubmit() {
            if (this.loginData.login_name == "" || this.loginData.password == "") {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Нэвтрэх нэр эсвэл нууц үгээ оруулна уу"
                });
                return;
            }

            if (this.processing === true) {
                return;
            }
            this.processing = true;
            this.$nprogress.start();
            axios.post("/login", this.loginData).then(response => {
                this.processing = false;
                this.$nprogress.done();
                if (response.data.status === 0) {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: response.data.message
                    });
                } else {
                    this.$notification["success"]({
                        message: "Амжилттай нэвтэрлээ"
                    });
                    this.$store
                        .dispatch("saveToken", {
                            token: response.data.token,
                            remember: this.remember
                        })
                        .then(r => {
                            this.$router.push({
                                path: "/"
                            });
                        });
                }
            });
        }
    }
};
</script>
