<template>
<div class="auth_form">
    <h1>Тавтай морилно уу!</h1>
    <form>
        <div class="field-wrap">
            <label>
                Нэвтрэх нэр<span class="req">*</span>
            </label>
            <input v-model="loginData.login_name" type="email" required autocomplete="off" />
        </div>

        <div class="field-wrap">
            <label>
                Нууц үг<span class="req">*</span>
            </label>
            <input v-model="loginData.password" type="password" required autocomplete="off" />
        </div>
        <button @click.prevent="loginSubmit" class="button button-block">Нэвтрэх</button>
    </form>
    <p class="more">
        <!-- <a href="/#/forgot">Нууц үг мартсан?</a> -->
        <a href="/#/register" class="main">Бүртгүүлэх</a>
    </p>
</div>
</template>

<script>
export default {
    name: "login",
    data: function () {
        return {
            siteUrl: window.surl,
            term_text_data: "",
            isShowTerm: 0,
            mpVisible: false,
            processing: false,
            loginData: {
                login_name: "",
                password: ""
            },
        };
    },
    methods: {
        loginSubmit() {
            if (this.loginData.login_name == "" || this.loginData.password == "") {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "Нэвтрэх нэр эсвэл нууц үгээ оруулна уу"
                });
                return;
            }

            if (this.processing === true) {
                return;
            }
            this.processing = true;
            this.$nprogress.start();
            axios.post("/login", this.loginData).then(response => {
                this.processing = false;
                this.$nprogress.done();
                if (response && response.data && response.data.is_done) {
                    this.$notification["success"]({
                        message: "Амжилттай нэвтэрлээ"
                    });
                    this.$store
                        .dispatch("saveToken", {
                            token: response.data.token
                        })
                        .then(r => {
                            this.$router.push({
                                path: "/home"
                            });
                        });
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: response.data.message
                    });

                }
            });
        }
    }
};
</script>
