<template>
<div class="auth_form_style">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h4>Харилцагч байгааллагаар бүртгүүлэх</h4>
                </div>
                <form>
                    <template v-if="auth.id==0">
                        <h6>Алхам 1: Байгууллага хариуцсан ажилтаны мэдээлэл</h6>
                        <label for="Цахим шуудан">РД: <i> Та зөвхөн өөрийн регистрийн дугаарыг үнэн зөв сонгон оруулна уу!</i></label>
                        <input v-model="auth.id" class="form-control input_user" type="hidden" />
                        <div class="input-group mb-3">
                            <select style="width: 40px" v-model="auth.reg_number.val1">
                                <option v-for="i in a_y" :key="i" :value="i">{{i}}</option>
                            </select>

                            <select style="width: 40px" v-model="auth.reg_number.val2">
                                <option v-for="i in a_y" :key="i" :value="i">{{i}}</option>
                            </select>

                            <input v-model="auth.reg_number.val3" class="form-control input_user" placeholder="Регистрийн дугаар" />
                        </div>

                        <label for="Хороо холбоо сонгох">Хороо холбоо сонгох: <i> Та ямар нэг хороо холбоонд хамааралгүй бол сонголгүй бүртгэлийг үргэлжлүүлнэ үү. </i></label>
                        <div class="input-group mb-0">
                            <select v-model="auth.team_id" style="width: 50%; height: 40px" @change="onChange($event)">
                                <option v-for="i in a_kholboo" :key="i.id" :value="i.id">{{i.name}}</option>
                            </select>
                            <select v-model="auth.team_selected_id" style="width: 50%">
                                <option v-for="i in b_kholboo" :key="i.id" :value="i.id">{{i.name}}</option>
                            </select>
                        </div>

                        <label class='mt-2' for="Овог нэр">Овог нэр: <i> Крилл үсэг ашиглаж бичнэ үү. </i></label><br />
                        <div class="input-group mb-3">
                            <input v-model="auth.lastname" type="text" name="" class="form-control input_user" placeholder="Овог">
                            <input v-model="auth.firstname" type="text" name="" class="form-control input_user" placeholder="Нэр">
                        </div>

                        <label class='mt-2' for="Цахим шуудан">Цахим шуудан: <i> Та зөвхөн өөрийн цахим шууданг оруулна уу!</i></label>
                        <div class="input-group mb-3">
                            <input v-model="auth.email" type="text" name="" class="form-control input_user" placeholder="Цахим шуудан">
                        </div>

                        <label class='mt-2' for="Нэвтрэх нэр">Нэвтрэх нэр: <i> Та нэвтрэх нэрээ багадаа 5 ширхэг латин тэмдэгт болон тоо ашиглан оруулна уу!</i></label>
                        <div class="input-group mb-2">
                            <input v-model="auth.login_name" type="text" name="" class="form-control input_user" placeholder="Нэвтрэх нэр">
                        </div>

                        <label class='mt-2' for="Утасны дугаар">Утас: <i> Та зөвхөн өөрийн утасны дугаараа оруулна уу!</i></label><br />
                        <div class="input-group mb-2">
                            <input v-model="auth.phone" type="text" name="" class="form-control input_user" placeholder="Утасны дугаар">
                        </div>

                        <label class='mt-2' for="Нууц үг">Нууц үг: <i> Та тоо үсэг болон тусгай тэмдэгт ашиглан багадаа 8 тэмдэгтийн урттай нууц үг бичнэ үү!</i></label><br />
                        <div class="input-group mb-3">
                            <input v-model="auth.password" type="text" name="" class="form-control input_user" placeholder="Нууц үг">
                            <input v-model="auth.password_confirm" type="text" name="" class="form-control input_user" placeholder="Нууц үг давтах">
                        </div>
                        <h6>Алхам 2: Байгууллагын үндсэн мэдээлэл</h6>
                    </template>

                    <template v-if="auth.id==0 || !($store.getters.authUser && (this.$store.getters.authUser.is_org || this.$store.getters.authUser.is_org_system_approved))">
                        <label class='mt-2' for="Байгууллагын нэр">Байгууллагын нэр:</label>
                        <div class="input-group mb-3">

                            <select v-model="auth.org.org_type_id" style="width: 200px">
                                <option v-for="i in a_org_types" :key="i.id" :value="i.id">{{i.title}}</option>
                            </select>
                            <input v-model="auth.org.name" type="text" name="" class="form-control input_user" placeholder="Байгууллагын нэр">
                            <input v-model="auth.org.name_short" type="text" name="" class="form-control input_user" placeholder="Байгууллагын товч нэр">
                        </div>

                        <label class='mt-2' for="Байгууллагын регистр">Байгууллагын регистр:</label>
                        <div class="input-group mb-3">
                            <input v-model="auth.org.rd" type="text" name="" class="form-control input_user" placeholder="Байгууллагын регистр">
                        </div>

                        <label class='mt-2' for="Холбоо барих мэдээлэл">Холбоо барих мэдээлэл:</label>
                        <div class="input-group mb-3">
                            <input v-model="auth.org.phone" type="text" name="" class="form-control input_user" placeholder="Утас">
                            <input v-model="auth.org.email" type="text" name="" class="form-control input_user" placeholder="Цахим шуудан">
                            <input v-model="auth.org.web" type="text" name="" class="form-control input_user" placeholder="Цахим хуудас">
                        </div>

                        <label class='mt-2' for="Байгууллагын товч тайлбар">Байгууллагын товч тайлбар:</label>
                        <div class="input-group mb-3">
                            <input v-model="auth.org.short_desc" type="text" name="" class="form-control input_user" placeholder="Байгууллагын товч тайлбар">
                        </div>

                        <label class='mt-2' for="Байгууллагын дэлгэрэнгүй тайлбар">Байгууллагын дэлгэрэнгүй тайлбар:</label>
                        <div class="input-group mb-3">
                            <textarea v-model="auth.org.desc" class="form-control input_user" />
                            </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlInline" v-model="auth.term">
              <label class="custom-control-label" for="customControlInline"> <a style="color: #f76403;" target="_blank" href="/#/terms">Үйлчилгээний нөхцлийг</a> хүлээн зөвшөөрч байна </label>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-3 login_container mb-5">
            <button @click="registerSubmit" type="button" name="button" class="btn login_btn">Хадгалах</button>
          </div>
          </template>
          <template>
            <p style="padding: 40px">Та хамтран ажиллах хүсэлт илгээсэн байна.</p>
          </template>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <help />
    </div>
  </div>
</div>
</template>

<script>
import Help from "../../../components/Public/Help";

export default {
    name: "register",
    components: {
        Help,
    },
    data: function () {
        return {
            processing: false,
            a_kholboo: [],
            b_kholboo: [],
            a_org_types: [],
            a_y: ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ё', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'Ө', 'П', 'Р', 'С', 'Т', 'У', 'Ү', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Ъ', 'Ь', 'Ы', 'Э', 'Ю', 'Я'],
            siteUrl: window.surl,
            auth: {
                id: 0,
                firstname: '',
                lastname: '',
                email: '',
                phone: '',
                login_name: '',
                password: '',
                password_confirm: '',
                rd: '',
                birthday: '',
                gender: '',
                team_selected_id: 0,
                term: false,
                team_id: 0,
                reg_number: {
                    val1: 0,
                    val2: 0,
                    val3: "",
                },
                org: {
                    name: '',
                    name_short: '',
                    rd: '',
                    phone: '',
                    email: '',
                    web: '',
                    short_desc: '',
                    desc: '',
                    address: '',
                    fax: '',
                    w3w: '',
                    long: '',
                    lat: '',
                    org_type_id: 0,
                    city_id: 0,
                    district_id: 0,
                    ward_id: 0,
                    logo: null,
                    image: null
                }
            },
        }
    },
    created() {
        this.checkAuth();
        this.getKholboo(0);
        this.getOrgType();

    },
    methods: {
        checkAuth() {
            if (this.$store.getters.authUser) {
                this.auth.id = this.$store.getters.authUser.id;
            }
        },
        onChange(event) {
            this.getKholboo(event.target.value);
        },

        getOrgType() {

            axios.get('/org_types').then(response => {
                this.a_org_types = response.data.data;
            });
        },

        getKholboo(id = 0) {
            let uri = id == 0 ? '/holboo' : '/khoroo/' + id;
            axios.get(uri).then(response => {
                if (id == 0) {
                    this.a_kholboo = response.data.data;
                } else {
                    this.auth.team_id = id;
                    if (response.data.data.length == 0) {
                        this.$notification["warning"]({
                            message: "Алдаа",
                            description: "Хороодын мэдээлэл бүртгэгдээгүй байна! Та холбоондоо мэдээллэж өөрийн хороог нэмүүлнэ үү!"
                        });
                    } else {
                        this.$notification["success"]({
                            message: "Амжилттай",
                            description: "Хороогоо сонгоно уу!"
                        });
                    }
                    this.b_kholboo = response.data.data;
                }
            });
        },

        validateRD(value) {
            let num = parseInt(this.auth.reg_number.val3);
            let rd = this.auth.reg_number.val1 + '' + this.auth.reg_number.val2 + '' + this.auth.reg_number.val3;
            this.auth.rd = rd.toLowerCase();
            if (num > 9999999 && num < 100000009) {
                let y = parseInt(num / 1000000);
                let m = parseInt(num / 10000 % 100);

                let d = parseInt(num % 10000 / 100);

                let gender = parseInt(num % 10 / 10);
                y = m > 12 ? 2000 + y : 1900 + y;
                m = m > 12 ? m - 20 : m;

                let n_date = new Date();
                let n = n_date.getFullYear();

                if (n >= y && y > 0 && m > 0 && d > 0 && m < 13) {
                    m = m > 9 ? m : '0' + m;
                    d = d > 9 ? d : '0' + d;
                    this.auth.birthday = y + '-' + m + '-' + d;
                    this.auth.gender = gender == 0 ? 'female' : 'male';
                    return true;
                }
            }
            return false;
        },

        validateEmail(value) {
            return (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)) && value.length < 50 ? true : false;
        },

        validateMongoliaText(value) {
            return (/^[а-яА-Я|Ө|Ү|ө|ү]+(([',. -][а-яА-Я|Ө|Ү|ө|ү ])?[а-яА-Я|Ө|Ү|ө|ү]*)*$/.test(value)) && value.length < 50 ? true : false;
        },

        validatePhone(value) {
            let num = parseInt(value);
            return (num > 9999999 && num < 100000009) ? true : false;
        },

        validatePassword(value, value_change) {
            return (/^(((?=.*\d)(?=.*[a-z])(?=.*[A-Z])){3}|((?=.*\d)(?=.*[a-z])(?=.*[!"#$%&'()*+, \-./:;<=>?@ [\\\]^_`}|}~])){3}|((?=.*\d)(?=.*[a-z])(?=.*[\u0080-\uffff])){3}|((?=.*\d)(?=.*[A-Z])(?=.*[!"#$%&'()*+, \-./:;<=>?@ [\\\]^_`}|}~])){3}|((?=.*\d)(?=.*[A-Z])(?=.*[\u0080-\uffff])){3}|((?=.*\d)(?=.*[!"#$%&'()*+, \-./:;<=>?@ [\\\]^_`}|}~])(?=.*[\u0080-\uffff])){3}|((?=.*[a-z])(?=.*[A-Z])(?=.*[!"#$%&'()*+, \-./:;<=>?@ [\\\]^_`}|}~])){3}|((?=.*[a-z])(?=.*[A-Z])(?=.*[\u0080-\uffff])){3}|((?=.*[a-z])(?=.*[!"#$%&'()*+, \-./:;<=>?@ [\\\]^_`}|}~])(?=.*[\u0080-\uffff])){3}|((?=.*[A-Z])(?=.*[!"#$%&'()*+, \-./:;<=>?@ [\\\]^_`}|}~])(?=.*[\u0080-\uffff])){3}).{8,}$/.test(value)) && value.length > 8 && value === value_change ? true : false;
        },

        registerSubmit() {
            if (this.auth.id > 0 || this.validateRD(this.auth.rd) && this.auth.reg_number.val1 != 0 && this.auth.reg_number.val2 != 0) {
                if (this.auth.id > 0 || this.validateMongoliaText(this.auth.lastname)) {
                    if (this.auth.id > 0 || this.validateMongoliaText(this.auth.firstname)) {
                        if (this.auth.id > 0 || this.validateEmail(this.auth.email)) {
                            if (this.auth.id > 0 || this.auth.login_name.length >= 5 && this.auth.login_name.length < 50) {
                                if (this.auth.id > 0 || this.validatePhone(this.auth.phone)) {
                                    if (this.auth.id > 0 || this.validatePassword(this.auth.password, this.auth.password_confirm)) {
                                        if (this.auth.org.name.length > 2 && this.auth.org.name_short.length > 2) {
                                            if (this.auth.org.org_type_id != 0) {
                                                if (this.validatePhone(this.auth.org.phone)) {
                                                    if (this.validateEmail(this.auth.org.email)) {
                                                        if (this.auth.term) {
                                                            if (this.processing === true) {
                                                                return;
                                                            }

                                                            this.processing = true;
                                                            this.$nprogress.start();
                                                            axios.post("/register", this.auth).then(response => {
                                                                if (response.data.status === 0) {
                                                                    this.$notification["success"]({
                                                                        message: "Амжилттай",
                                                                        description: response.data.message
                                                                    });
                                                                    this.processing = false;
                                                                    this.$nprogress.done();
                                                                    let back = this.auth.id > 0 ? '/profile' : '/login';
                                                                    this.$router.push({
                                                                        path: back
                                                                    });
                                                                } else {
                                                                    this.processing = false;
                                                                    this.$nprogress.done();
                                                                    if (Array.isArray(response.data.message)) {
                                                                        response.data.message.forEach((i) =>
                                                                            this.$notification["warning"]({
                                                                                message: "Алдаа",
                                                                                description: i,
                                                                            })
                                                                        );
                                                                    } else {
                                                                        this.$notification["warning"]({
                                                                            message: "Алдаа",
                                                                            description: response.data.message,
                                                                        })
                                                                    }
                                                                    return;
                                                                }
                                                            });

                                                        } else {
                                                            this.$notification["warning"]({
                                                                message: "Алдаа",
                                                                description: "Үйлчилгээний нөхцөл зөвшөөрнө үү."
                                                            });
                                                        }
                                                    } else {
                                                        this.$notification["warning"]({
                                                            message: "Алдаа",
                                                            description: "Байгууллагын мэйл зөв форматтай оруулна уу."
                                                        });
                                                    }
                                                } else {
                                                    this.$notification["warning"]({
                                                        message: "Алдаа",
                                                        description: "Байгууллагын утасны дугаарыг зөв форматтай оруулна уу."
                                                    });
                                                }
                                            } else {
                                                this.$notification["warning"]({
                                                    message: "Алдаа",
                                                    description: "Байгууллагын төрөл сонгоно уу."
                                                });
                                            }
                                        } else {
                                            this.$notification["warning"]({
                                                message: "Алдаа",
                                                description: "Байгууллагын нэрийг заавал бөглөнө үү! Хэрвээ товчилсон нэр үндсэн нэр 2 ижил бол 2ланг нь ижил бөгөлөнө үү."
                                            });
                                        }

                                    } else {
                                        this.$notification["warning"]({
                                            message: "Алдаа",
                                            description: "Нууц үг зохиохдоо тоо үсэг болон тусгай тэмдэгт ашиглан багадаа 8 тэмдэгтийн урттай оруулна уу! Мөн нууц үг давтан бичихдээ өмнөх талбартай адилхан байлгахаар оруулна уу!"
                                        });
                                    }
                                } else {
                                    this.$notification["warning"]({
                                        message: "Алдаа",
                                        description: "Утасны дугаарын зөв оруулна уу!"
                                    });
                                }
                            } else {
                                this.$notification["warning"]({
                                    message: "Алдаа",
                                    description: "Нэвтрэх нэрийн дунджаар 8 тэмдэгтийн урттай тоо үсэг тэмдэгт ашиглан оруулна уу!"
                                });
                            }
                        } else {
                            this.$notification["warning"]({
                                message: "Алдаа",
                                description: "Цахим шууданг шалгаад дахин оруулна уу!"
                            });
                        }
                    } else {
                        this.$notification["warning"]({
                            message: "Алдаа",
                            description: "Нэр бичихдээ зөвхөн крилл үсэг ашиглан бичнэ үү Жишэн нь: Анар, Жаргал, Од, Сүхээ!"
                        });
                    }
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: "Овог бичихдээ зөвхөн крилл үсэг ашиглан бичнэ үү Жишэн нь: Анар, Жаргал, Од, Сүхээ!"
                    });
                }
            } else {
                this.$notification["warning"]({
                    message: "Алдаа",
                    description: "РД зөв оруулна уу!"
                });
            }
        }
    }
};
</script>
