<template>
<div class="auth_form">
    <h1>Бүртгүүлэх</h1>
    <form>
        <div class="top-row">
            <div class="field-wrap">
                <label>
                    Овог<span class="req">*</span>
                </label>
                <input v-model="form_data.lastname" type="text" required autocomplete="off" data-error="enter valid username" />
            </div>

            <div class="field-wrap">
                <label>
                    Нэр<span class="req">*</span>
                </label>
                <input v-model="form_data.firstname" type="text" required autocomplete="off" />
            </div>
        </div>

        <div class="field-wrap">
            <label>
                Нэвтрэх нэр<span class="req">*</span>
            </label>
            <input v-model="form_data.login_name" type="text" required autocomplete="off" />
        </div>

        <div class="field-wrap">
            <label>
                Мэйл хаяг<span class="req">*</span>
            </label>
            <input v-model="form_data.email" type="email" required autocomplete="off" />
        </div>

        <div class="field-wrap">
            <label>
                Утасны дугаар<span class="req">*</span>
            </label>
            <input v-model="form_data.phone" type="phone" required autocomplete="off" />
        </div>

        <div class="field-wrap">
            <label>
                Нууц үг<span class="req">*</span>
            </label>
            <input v-model="form_data.password" type="password" required autocomplete="off" />
        </div>

        <div class="term_text">
            <a target="_blank" href="/#/terms">"Үйлчилгээний нөхцөл"</a> -тэй уншиж танилцна уу.
        </div>
        <button @click="registerSubmit" type="submit" class="button button-block">Бүртгэл үүсгэх</button>
    </form>
    <p class="more">
        <a href="/#/login" class="main">Нэвтрэх</a>
    </p>
</div>
</template>

<script>
export default {
    name: "register",
    data: function () {
        return {
            processing: false,
            siteUrl: window.surl,
            form_data: {
                firstname: '',
                lastname: '',
                email: '',
                phone: '',
                login_name: '',
                password: '',
                isCheckTerm: true,
            },
            msg: {
                email: '',
                password: ''
            },

        }
    },
    created() {},
    methods: {
        validate(value, type) {
            if (type == "login") {
                if (value.length > 3) {
                    return true;
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: "Нэвтрэх нэрийн дунджаар 8 тэмдэгтийн урттай тоо үсэг тэмдэгт ашиглан оруулна уу!"
                    });
                    return false;
                }
            }

            if (type == "email") {
                if ((/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)) && value.length < 50) {
                    return true;
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: "Цахим шууданг шалгаад дахин оруулна уу!"
                    });
                    return false;
                }
            }

            if (type == "name") {
                if ((/^[а-яА-Я|Ө|Ү|ө|ү]+(([',. -][а-яА-Я|Ө|Ү|ө|ү ])?[а-яА-Я|Ө|Ү|ө|ү]*)*$/.test(value)) && value.length < 50) {
                    return true;
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: "Овог болон Нэр бичихдээ зөвхөн крилл үсэг ашиглан бичнэ үү Жишэн нь: Анар, Жаргал, Од, Сүхээ!"
                    });
                    return false;
                }
            }

            if (type == "phone") {
                if (value.length == 8) {
                    return true;
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: "Утасны дугаарын зөв оруулна уу!"
                    });
                    return false;
                }
            }

            if (type == "pass") {
                if (value.length > 3) {
                    return true;
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: "Нууц үг зохиохдоо тоо үсэг болон тусгай тэмдэгт ашиглан багадаа 8 тэмдэгтийн урттай оруулна уу! Мөн нууц үг давтан бичихдээ өмнөх талбартай адилхан байлгахаар оруулна уу!"
                    });
                    return false;
                }
            }
        },

        registerSubmit() {
            if (this.validate(this.form_data.lastname, "name") && this.validate(this.form_data.firstname, "name")) {
                if (this.validate(this.form_data.login_name, "login")) {
                    if (this.validate(this.form_data.email, "email")) {
                        if (this.validate(this.form_data.phone, "phone")) {
                            if (this.validate(this.form_data.password, "pass")) {
                                if (this.form_data.isCheckTerm) {
                                    if (this.processing === true) {
                                        return;
                                    }

                                    this.processing = true;
                                    this.$nprogress.start();
                                    let formData = new FormData();
                                    formData.append("data", JSON.stringify(this.form_data));

                                    axios.post("/register", formData).then(response => {
                                        if (response.data && response.data.is_done) {
                                            this.$notification["success"]({
                                                message: "Амжилттай",
                                                description: response.data.message
                                            });
                                            this.processing = false;
                                            this.$nprogress.done();
                                            this.$router.push({
                                                path: "/login"
                                            });
                                        } else {
                                            this.$notification["warning"]({
                                                message: "Алдаа",
                                                description: response.data.message
                                            });
                                            this.processing = false;
                                            this.$nprogress.done();
                                            return;
                                        }
                                    });
                                } else {
                                    this.$notification["warning"]({
                                        message: "Алдаа",
                                        description: "Үйлчилгээний нөхцөл зөвшөөрнө үү!"
                                    });
                                }
                            }
                        }
                    }
                }
            }
        }
    }
};
</script>
