<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_contents" sub_menu="contents"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Контентийн сан" sub_menu="Контент" :sub_menu2="s_id ? 'Засах' : 'Нэмэх'"></admin-breadcrumb>
            <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <a-form>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <a-card class="mb-4 w-100" title="Үндсэн мэдээлэл">
                                <a-form-item label="Идэвхитэй эсэх">
                                    <a-radio-group v-model="row.is_active" button-style="solid">
                                        <a-radio-button value="1">Идэвхитэй</a-radio-button>
                                        <a-radio-button value="0">Үгүй</a-radio-button>
                                    </a-radio-group>
                                </a-form-item>

                                <div class="form-group">
                                    <label>Хамаарах ангилалууд</label>
                                    <template v-if="row.selected_types!=null && types.length>0">
                                        <a-select mode="multiple" :default-value="row.selected_types" style="width: 100%" placeholder="Хамаарах ангилалууд сонгох" @change="handleTypeChange">
                                            <a-select-option v-for="i in types" :key="i.id" :value="i.id">
                                                <span role="img"><img style="width: 20px" :src="i.logo ? i.logo : '/no_image.png'" /> </span>{{i.name}}</a-select-option>
                                        </a-select>
                                    </template>
                                </div>

                                <div class="form-group">
                                    <label>Уран бүтээлчид</label>
                                    <template v-if="row.selected_authors!=null && authors.length>0">
                                        <a-select mode="multiple" :default-value="row.selected_authors" style="width: 100%" placeholder="Уран бүтээлчид сонгох" @change="handleAuthorChange">
                                            <a-select-option v-for="i in authors" :key="i.id" :value="i.id">
                                                <span role="img"><img style="width: 20px" :src="i.logo ? i.logo : '/no_image.png'" /> </span>{{i.full_name}}</a-select-option>
                                        </a-select>
                                    </template>
                                </div>

                                <a-form-item label="Нэр">
                                    <a-input placeholder="Кирилл үсгээр бичнэ бичнэ үү ..." v-model="row.title" name="title" id="title" :class="{'was-validated': errors.has('title')}" v-validate="{'required':true, 'max':100}" />
                                    <p v-show="errors.has('title')" class="text-danger">Заавал бөглөнө!</p>
                                </a-form-item>
                                <a-form-item label="лого">
                                    <div class="row">
                                        <div class="col-md-3" v-if="row.logo && row.id>0">
                                            <img :src="row.logo" style="height: 100px;" />
                                        </div>

                                        <div class="col-md-9">
                                            <a-upload @change="CmpLogoChange" :action="siteUrl+'/api/uploadImage'" :remove="CmpLogoRemove" listType="picture-card">
                                                <a-icon :type="loading ? 'loading' : 'plus'" />
                                                <div class="ant-upload-text">Зураг</div>
                                            </a-upload>
                                        </div>
                                    </div>
                                </a-form-item>
                            </a-card>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <a-form-item label="Товч тайлбар">
                            <div class="wrap-input100 validate-input">
                                <textarea id="short_desc" class="input100" name="short_desc"  style="width: 100%" placeholder="" v-model="row.short_desc" />
                                <span class="focus-input100"></span>
                                </div>
                            </a-form-item>


                            <a-form-item label="Дэлгэрэнгүй тайлбар">
                                <Tinymce v-model="row.desc"></Tinymce>
                            </a-form-item>
                        </div>
                    </div>

                    <div class="form-actions">
                        <router-link :to="'/admin_contents'">
                            <a-button type="default">Буцах</a-button>
                        </router-link>
                        <a-button @click="groupSubmit" type="primary" class="mr-2">Хадгалах</a-button>
                    </div>
                </a-form>
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb,
    },

    data: function () {
        return {
            siteUrl: window.surl,
            fetched: false,
            s_id: null,
            loading: false,
            url: "/admin_contents",
            row: {
                id: null,
                title: "",
                desc: "",
                short_desc: "",
                is_active: "0",
                logo: null,
                selected_authors: null,
                selected_types: null,
            },

            types: [],
            authors: [],
            fetching: false,
            value: undefined,
            images: [],
        };
    },
    created: function () {
        this.gets();
        this.get();
    },
    methods: {
        gets() {
            axios.get("/admin_content_types", {
                params: {
                    no_paging: true
                }
            }).then(response => {
                this.types = response.data.data;
            });

            axios.get("/admin_content_authors", {
                params: {
                    no_paging: true
                }
            }).then(response => {
                this.authors = response.data.data;
            });
        },

        handleAuthorChange(ids) {
            this.row.selected_authors = ids;
        },

        handleTypeChange(ids) {
            this.row.selected_types = ids;
        },

        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.row.selected_types = [];
                this.row.selected_authors = [];
                this.fetched = true;
            }
        },

        CmpLogoChange(info) {
            if (info.file.status === "done") {
                this.images.push(info.file.response);
            }
        },

        CmpLogoRemove(file) {
            const index = this.images.indexOf(file);
            const i = this.images.slice();
            i.splice(index, 1);
            this.images = i;
        },

        groupSubmit: function () {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$nprogress.start();
                    let formData = new FormData();
                    this.row.logo = this.images.length > 0 ? this.images[0].url : this.row.logo;
                    formData.append("data", JSON.stringify(this.row));
                    axios.post(this.url, formData).then(response => {
                        this.$nprogress.done();
                        if (response && response.data && response.data.is_done) {
                            this.$notification["success"]({
                                message: "Амжилттай хадгаллаа",
                            });
                            this.$router.push({
                                path: "/admin_contents"
                            });
                        } else {
                            response.data.error.forEach(i => this.$notification["warning"]({
                                message: i
                            }));
                        }
                    });
                }
            });
        },
    },
};
</script>
