<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_contents" sub_menu="contents"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Контентийн сан" sub_menu="Контент" sub_menu2=""></admin-breadcrumb>
            <router-link v-if="$store.getters.authUser.isSuperAdmin" to='/admin_content_add'>
                <a-button type="success" class="float-add_button" shape="circle" size="large">
                    <a-icon type="plus" />
                </a-button>
            </router-link>

            <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <v-server-table ref="tableni" :url="url" :columns="columns" :options="options">
                    <div slot="logo" slot-scope="props" class="text-center" style="width:auto;">
                        <img v-if="props.row.logo" :src="props.row.logo" style="width: 40px; height: 40px" />
                        <img v-else src="/no_image.png" style="width: 40px; height: 40px" />
                    </div>

                    <div slot="types" slot-scope="props" class="text-center" style="width:auto;">
                        <a-tag color="cyan" v-for="i in props.row.types" :key="props.row.id+ '-' + i.id">
                            {{i.name}}
                        </a-tag>
                    </div>
                    <div slot="authors" slot-scope="props" class="text-center" style="width:auto;">
                        <a-tag color="orange" v-for="i in props.row.authors" :key="props.row.id+ '-' + i.id">
                            {{i.full_name}}
                        </a-tag>
                    </div>

                    <div slot="is_active" slot-scope="props" class="text-center" style="width:auto;">
                        <a-tag :color="props.row.is_active ? 'green' : 'red'">
                            {{props.row.is_active ? 'Идэвхитэй': 'Идэвхигүй'}}
                        </a-tag>
                    </div>

                    <div slot="action" slot-scope="props" class="text-center" style="width:auto;">
                        <router-link :to="'/admin_content/'+props.row.id">
                            <a-button type="success" size="small" icon="eye" />
                        </router-link>

                        <router-link :to="'/admin_content/edit/'+props.row.id">
                            <a-button type="info" size="small" icon="edit" />
                        </router-link>

                        <a-popconfirm :title="props.row.name + ' устгах уу?'" placement="topRight" okText="Тийм" cancelText="Үгүй" @confirm="deleteData(props.row.id)">
                            <a-icon slot="icon" type="question-circle-o" style="color: red" />
                            <a-button type="danger" icon="delete" size="small"></a-button>
                        </a-popconfirm>
                    </div>
                </v-server-table>
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },
    data: function () {
        return {
            siteUrl: window.surl,
            url: "/admin_contents",
            fetched: false,
            is_loading: false,
            fetched_membership_types: false,
            membership_types: [],
            columns: [
                'id',
                'logo',
                'types',
                'authors',
                'title',
                'is_active',
                'created_at',
                "action",
            ],
            options: {
                perPage: 50,
                perPageValues: [20, 50, 100],
                pagetitle: "Файлын сан",
                headings: {
                    id: "UID",
                    logo: "Зураг",
                    types: "Ангилал",
                    authors: 'Уран бүтээлчид',
                    title: "Нэр",
                    created_at: "Бүртгэсэн",
                    is_active: "Системийн төлөв",
                    action: " ",
                },
                filterByColumn: true,
                sortable: [
                    'id',
                    'title',
                    'is_active',
                    'created_at',
                ],
                filterable: [
                    'title',
                ],
                sortIcon: {
                    base: "fas",
                    up: "fa-sort-up",
                    down: "fa-sort-down",
                    is: "fa-sort"
                },
                listColumns: {

                },
                texts: {
                    noResults: "Хоосон байна...",
                    filterBy: "Хайх",
                    loading: "Уншиж байна...",
                    defaultOption: "Бүгд",
                },
                templates: {},

                rowClassCallback: function (row) {
                    if (row.admin_id === 0) {
                        return "has-text-link";
                    }
                },
                requestFunction: function (data) {
                    return axios
                        .get(this.url, {
                            params: data
                        })
                        .catch(
                            function (e) {
                                this.dispatch("error", e);
                            }.bind(this)
                        );
                },
                responseAdapter({
                    data
                }) {
                    return {
                        data: data.data.data,
                        count: data.data.total
                    };
                }
            },
            visible: false,
            form: this.$form.createForm(this),
            fd: {
                id: 0,
                membership_type_id: 0,
                is_membership: false,
                membership_cif: ""
            }
        };
    },
    created: function () {},
    methods: {
        deleteData: function (id) {
            this.$nprogress.start()
            axios.delete(this.url + '/' + id).then((response) => {
                this.$refs.tableni.refresh();
                this.$notification['success']({
                    message: 'Мэдээллийг устгаллаа'
                });
                this.$nprogress.done()
            })
        },
    }
};
</script>
