<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_contents" sub_menu="contents"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Контентийн сан" sub_menu="Контент" sub_menu2="Дэлгэрэнгүй"></admin-breadcrumb>
            <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">

                <a-card class="mb-4 w-100" title="Үндсэн мэдээлэл">
                    <div class="row">
                        <div class="col-md-3" v-if="row.logo && row.id>0">
                            <img :src="row.logo" style="width: 100%" />
                        </div>
                        <div class="col-md-9">
                            <a-form-item label="Контентийн нэр">
                                <a-tag>
                                    {{row.title}}
                                </a-tag>
                            </a-form-item>

                            <a-form-item label="Идэвхитэй эсэх">
                                <a-tag :color="row.is_active ? 'green': 'red'">
                                    {{row.is_active ? 'Идэвхитэй': 'Идэвхигүй'}}
                                </a-tag>
                            </a-form-item>

                            <div class="form-group">
                                <label>Хамаарах ангилалууд</label>
                                <p>
                                    <a-tag color="cyan" v-for="i in row.types" :key="row.id+ '-' + i.id">
                                        {{i.name}}
                                    </a-tag>
                                </p>
                            </div>

                            <div class="form-group">
                                <label>Тайлбар</label>
                                <p>
                                    {{row.short_desc}}<br />

                                    {{row.desc}}
                                </p>

                            </div>
                        </div>
                    </div>

                </a-card>

                <div class="form-actions">
                    <router-link :to="'/admin_contents'">
                        <a-button type="default">Буцах</a-button>
                    </router-link>
                </div>
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },

    data: function () {
        return {
            siteUrl: window.surl,
            fetched: false,
            s_id: null,
            loading: false,
            url: "/admin_contents",
            row: {
                id: null,
                title: "",
                desc: "",
                short_desc: "",
                is_active: "0",
                logo: null,

                selected_types: null,
            },

            types: [],
            fetching: false,
            value: undefined,
            images: [],
        };
    },
    created: function () {
        this.gets();
        this.get();
    },
    methods: {
        gets() {
            axios.get("/admin_content_types", {
                params: {
                    no_paging: true
                }
            }).then(response => {
                this.types = response.data.data;
            });
        },

        handleAuthorChange(ids) {
            this.row.selected_authors = ids;
        },

        handleTypeChange(ids) {
            this.row.selected_types = ids;
        },

        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.row.selected_types = [];
                this.fetched = true;
            }
        },

        CmpLogoChange(info) {
            if (info.file.status === "done") {
                this.images.push(info.file.response);
            }
        },

        CmpLogoRemove(file) {
            const index = this.images.indexOf(file);
            const i = this.images.slice();
            i.splice(index, 1);
            this.images = i;
        },

        groupSubmit: function () {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$nprogress.start();
                    let formData = new FormData();
                    this.row.logo = this.images.length > 0 ? this.images[0].url : this.row.logo;
                    formData.append("data", JSON.stringify(this.row));
                    axios.post(this.url, formData).then(response => {
                        this.$nprogress.done();
                        if (response && response.data && response.data.is_done) {
                            this.$notification["success"]({
                                message: "Амжилттай хадгаллаа",
                            });
                            this.$router.push({
                                path: "/admin_contents"
                            });
                        } else {
                            response.data.error.forEach(i => this.$notification["warning"]({
                                message: i
                            }));
                        }
                    });
                }
            });
        },
    },
};
</script>
