<template>
<a-layout id="components-layout-demo-top-side-2">
  <a-layout>
    <admin-side-bar menu="admin_users" sub_menu="admin_users"></admin-side-bar>
    <a-layout style="padding: 0 24px 24px">
      <admin-breadcrumb menu="Бүлэг" sub_menu="Бүлэгийн жагсаалт" :sub_menu2="s_id ? 'Засах' : 'Нэмэх'"></admin-breadcrumb>
      <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
        <a-form class="row">
          <a-form-item label="Нэвтрэх нэр" class="col-lg-4 col-md-4 col-sm-12">
            <a-input placeholder="Латин үсгээр бичнэ бичнэ үү ..." v-model="row.login_name" name="login_name" id="login_name" :class="{'was-validated': errors.has('login_name')}" v-validate="{'required':true, 'max':100}" />
            <p v-show="errors.has('login_name')" class="text-danger">Заавал бөглөнө!</p>
          </a-form-item>

            <a-form-item label="Овог" class="col-lg-4 col-md-4 col-sm-12">
              <a-input placeholder="Кирилл үсгээр бичнэ бичнэ үү ..." v-model="row.lastname" name="lastname" id="lastname" :class="{'was-validated': errors.has('lastname')}" v-validate="{'required':true, 'max':100}" />
              <p v-show="errors.has('lastname')" class="text-danger">Заавал бөглөнө!</p>
            </a-form-item>

            <a-form-item label="Өөрийн нэр" class="col-lg-4 col-md-4 col-sm-12">
              <a-input placeholder="Кирилл үсгээр бичнэ бичнэ үү ..." v-model="row.firstname" name="firstname" id="firstname" :class="{'was-validated': errors.has('firstname')}" v-validate="{'required':true, 'max':100}" />
              <p v-show="errors.has('firstname')" class="text-danger">Заавал бөглөнө!</p>
            </a-form-item>

            <a-form-item label="Регистрийн дугаар" class="col-lg-4 col-md-4 col-sm-12">
              <a-input type="text" placeholder="Кирилл үсгээр бичнэ бичнэ үү ..." v-model="row.rd" />
            </a-form-item>

            <a-form-item label="Төрсөн өдөр" class="col-lg-4 col-md-4 col-sm-12">
              <a-input type="date" placeholder="Кирилл үсгээр бичнэ бичнэ үү ..." v-model="row.birthday" />
            </a-form-item>

            <a-form-item label="Хүйс" class="col-lg-4 col-md-4 col-sm-12">
              <a-radio-group v-model="row.gender" button-style="solid">
                <a-radio-button value="male">Эрэгтэй</a-radio-button>
                <a-radio-button value="female">Эмэгтэй</a-radio-button>
              </a-radio-group>
            </a-form-item>

            <a-form-item label="Нэмэлт мэдээ мэдээлэл" class="col-lg-12 col-md-12 col-sm-12">
              <textarea class="ant-input" v-model="row.about" />
            </a-form-item>

            <a-form-item label="Үйлчилгээний нөхцөл зөвшөөрсөн эсэх" class="col-lg-4 col-md-4 col-sm-12">
              <select v-model="row.isCheckTerm" class="ant-input">
                <option value="1">Тийм</option>
                <option value="0">Үгүй</option>
                </select>
            </a-form-item>

            <a-form-item label="Идэвхижүүлсэн эсэх" class="col-lg-4 col-md-4 col-sm-12">
              <select v-model="row.isActive" class="ant-input">
                <option value="1">Тийм</option>
                <option value="0">Үгүй</option>
                </select>
            </a-form-item>

            <a-form-item label="Систем админ эсэх" class="col-lg-4 col-md-4 col-sm-12">
              <select v-model="row.isSuperAdmin" class="ant-input">
                <option value="1">Тийм</option>
                <option value="0">Үгүй</option>
                </select>
            </a-form-item>


            <a-form-item label="Идэвхижүүлсэн огноо" class="col-md-12" v-if="row.isActive">
              <a-input type="date" placeholder="" v-model="row.activated" />
            </a-form-item>

            <a-form-item label="Төлөлт дуусах огноо" class="col-md-12" v-if="row.isActive">
              <a-input type="date" placeholder="" v-model="row.end_at" />
            </a-form-item>
          <div class="form-actions col-md-12">
            <br/><br/><br/>
            <router-link :to="'/admin_users'">
              <a-button type="default">Буцах</a-button>
            </router-link>
            <a-button @click="groupSubmit" type="primary" class="mr-2">Хадгалах</a-button>
          </div>
        </a-form>
      </a-layout-content>
    </a-layout>
  </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
import moment from 'moment';
export default {
  components: {
    adminSideBar,
    adminBreadcrumb
  },

  data: function () {
    return {
      fetched: false,
      s_id: null,
      url: "/admin_users",
      row: {
        id: null,
        login_name: "",
        avatar: null,
        firstname: null,
        lastname: null,
        rd: null,
        birthday: moment().format("mm/dd/yyy"),
        gender: "male",
        isCheckTerm: null,
        isActive: null,
        activated: null,
        isSuperAdmin: false
      },
    };
  },
  created: function () {
    this.get();
  },
  methods: {
    get() {
      this.s_id = this.$route.params.id ? this.$route.params.id : null;
      if (this.s_id) {
        axios.get(this.url + '/' + this.s_id).then(re => {
          this.row = re.data.data;
          this.fetched = true;
        });
      } else {
        this.fetched = true;
      }
    },

    groupSubmit: function () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$nprogress.start();
          let formData = new FormData();
          formData.append("data", JSON.stringify(this.row));
          axios.post(this.url, formData).then(response => {
            this.$nprogress.done();
            if (response && response.data && response.data.is_done) {
              this.$notification["success"]({
                message: "Амжилттай хадгаллаа",
              });
              this.$router.push({
                path: "/admin_users"
              });
            } else {
              response.data.error.forEach(i => this.$notification["warning"]({
                message: i
              }));
            }
          });
        }
      });
    },
  },
};
</script>
