<template>
<a-layout id="components-layout-demo-top-side-2">
  <a-layout>
    <admin-side-bar menu="admin_users" sub_menu="admin_users"></admin-side-bar>
    <a-layout style="padding: 0 24px 24px">
      <admin-breadcrumb menu="Бүлэг" sub_menu="Бүлэгийн жагсаалт" sub_menu2="Дэлгэрэнгүй"></admin-breadcrumb>
      <a-layout-content v-if="fetched" :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">

        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <a-card class="mb-4 w-100" title="Үндсэн мэдээлэл">
              <a-form-item label="Хэрэглэгчийн ID" />
              <h6> {{row.id}}</h6>

              <a-form-item label="Системд нэвтрэх нэр" />
              <h6> {{row.login_name}}</h6>
              <a-form-item label="Овог нэр" />
              <h6> {{row.lastname}} {{row.firstname}}</h6>
              <a-form-item label="РД" />
              <h6> {{row.rd}}</h6>
              <a-form-item label="Төрсөн өдөр" />
              <h6> {{row.birthday}}</h6>

              <a-form-item label="Хүйс" />
              <h6> {{row.male ? 'эрэгтэй' : 'эмэгтэй'}}</h6>

              <a-form-item label="үйлчилгээний нөхцөл" />
              <h6> {{row.isCheckTerm ? 'үйлчилгээний нөхцөл зөвшөөрсөн' : '----'}}</h6>

              <a-form-item label="үйлчилгээний нөхцөл" />
              <h6> {{row.isCheckTerm ? 'үйлчилгээний нөхцөл зөвшөөрсөн' : '----'}}</h6>

              <a-form-item label="Баталгаажсан" />
              <h6> {{row.isActive ? row.activated : '----'}}</h6>

              <a-form-item label="Баталгаажсан" />
              <h6> {{row.isSuperAdmin ? 'Системийн админ' : '----'}}</h6>

            </a-card>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12">
            <a-card class="mb-4 w-100" title="Холбоо барих мэдээлэл">
              <div class="row">
                <div class="col-lg-12">

                </div>
              </div>
            </a-card>
            <a-card class="mb-4 w-100" title="Хаягийн мэдээлэл">
              <div class="row">
                <div class="col-lg-12">
   
                </div>
              </div>
            </a-card>
          </div>
        </div>
        <div class="form-actions">
          <router-link :to="'/admin_users'">
            <a-button type="default">Буцах</a-button>
          </router-link>
        </div>
      </a-layout-content>
      <a-layout-content v-else>
        Мэдээлэл устгагдсан байна ...
      </a-layout-content>
    </a-layout>
  </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
export default {
  components: {
    adminSideBar,
    adminBreadcrumb
  },
  data: function () {
    return {
      s_id: null,
      url: "/admin_users",
      row: null,
      fetched: false,
    };
  },
  created: function () {
    this.get();
  },
  methods: {
    get() {
      this.s_id = this.$route.params.id ? this.$route.params.id : null;
      if (this.s_id) {
        axios.get(this.url + '/' + this.s_id).then(re => {
          this.row = re.data.data;
          this.fetched = true;
        });
      } else {
        this.fetched = true;
      }
    },
  },
}
</script>
