/* 
// 11. Footer
*/

.footer {
    background: #fff;
    padding: 70px 0 40px;
    .footer-sub-menu {
        li {
            padding: 6px 0;
            .footer-link {
                font-size: 15px;
                transition: all 0.5s;
            }
        }
    }
}
.footer-alt {
    background: #f76402;
}