<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_contents" sub_menu="content_types"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Контентийн сан" sub_menu="Ангилал" :sub_menu2="s_id && s_id>0 ? 'Засах' : 'Нэмэх'"></admin-breadcrumb>
            <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <a-form>
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <router-link :to="'/admin_content_types'">
                                <a-button type="default">Буцах</a-button>
                            </router-link>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            <a-card class="mb-4 w-100" title="Үндсэн мэдээлэл">
                                <img v-if="row.logo && row.id>0" :src="row.logo" style="height: 100px;" />
                                <a-form-item label="лого">
                                    <a-upload @change="CmpLogoChange" :action="siteUrl+'/api/uploadImage'" :remove="CmpLogoRemove" listType="picture-card">
                                        <a-icon :type="loading ? 'loading' : 'plus'" />
                                        <div class="ant-upload-text">Зураг</div>
                                    </a-upload>
                                </a-form-item>

                                <a-form-item label="Үндсэн ангилалын UID">
                                    <a-input v-model="row.main_id" />
                                </a-form-item>

                                <a-form-item label="Онцлох">
                                    <a-radio-group v-model="row.is_special" button-style="solid">
                                        <a-radio-button value="1">Тийм</a-radio-button>
                                        <a-radio-button value="0">Үгүй</a-radio-button>
                                    </a-radio-group>
                                </a-form-item>

                                <a-form-item label="Үндсэн цэсээр ашиглах">
                                    <a-radio-group v-model="row.mainMenu" button-style="solid">
                                        <a-radio-button value="1">Тийм</a-radio-button>
                                        <a-radio-button value="0">Үгүй</a-radio-button>
                                    </a-radio-group>
                                </a-form-item>

                                <a-form-item v-if="row.mainMenu=='1'" label="Үндсэн цэсэнд ашиглах бол ICON оруулах">
                                    <a-input v-model="row.mainMenuIcon" />
                                </a-form-item>

                                <a-form-item label="Харуулах дараалал">
                                    <a-input v-model="row.pIndex" />
                                </a-form-item>

                                <a-form-item label="Нэр">
                                    <a-input placeholder="Кирилл үсгээр бичнэ бичнэ үү ..." v-model="row.name" name="name" id="name" :class="{'was-validated': errors.has('name')}" v-validate="{'required':true, 'max':100}" />
                                    <p v-show="errors.has('name')" class="text-danger">Заавал бөглөнө!</p>
                                </a-form-item>

                                <a-form-item label="Өнгө">
                                    <a-input placeholder="#dedede" v-model="row.color" name="color" id="color" :class="{'was-validated': errors.has('color')}" v-validate="{'required':true, 'max':100}" />
                                    <p v-show="errors.has('color')" class="text-danger">Заавал бөглөнө!</p>
                                </a-form-item>
                                
                                <a-button @click="Submit" type="primary" class="mr-2">Хадгалах</a-button>
                            </a-card>
                        </div>
                    </div>
                </a-form>
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../../components/side";
import adminBreadcrumb from "../../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },

    data: function () {
        return {
            siteUrl: window.surl,
            fetched: false,
            s_id: null,
            loading: false,
            url: "/admin_content_types",
            images: [],
            row: {
                id: null,
                logo: null,
                name: "",
                color: "",
                main_id: null,
                is_special: '0',
                mainMenu: '0',
                mainMenuIcon: 'home',
                pIndex: 1
            },
        };
    },
    created: function () {
        this.get();
    },
    methods: {
        CmpLogoChange(info) {
            if (info.file.status === "done") {
                this.images.push(info.file.response);
            }
        },

        CmpLogoRemove(file) {
            const index = this.images.indexOf(file);
            const i = this.images.slice();
            i.splice(index, 1);
            this.images = i;
        },

        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id && this.s_id > 0) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.fetched = true;
            }
        },

        Submit: function () {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$nprogress.start();
                    this.row.logo = this.images.length > 0 ? this.images[0].url : this.row.logo;
                    let formData = new FormData();
                    formData.append("data", JSON.stringify(this.row));
                    axios.post(this.url, formData).then(response => {
                        this.$nprogress.done();
                        if (response && response.data && response.data.is_done) {
                            this.$notification["success"]({
                                message: "Амжилттай хадгаллаа",
                            });
                            this.$router.push({
                                path: "/admin_content_types"
                            });
                        } else {
                            response.data.error.forEach(i => this.$notification["warning"]({
                                message: i
                            }));
                        }
                    });
                }
            });
        },
    },
};
</script>
