<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_contents" sub_menu="content_types"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <template v-if="$store.getters.authUser.isSuperAdmin">
                <admin-breadcrumb menu="Контентийн сан" sub_menu="Ангилал" sub_menu2=""></admin-breadcrumb>
                <router-link to='/admin_content_type_add'>
                    <a-button type="success" class="float-add_button" shape="circle" size="large">
                        <a-icon type="plus" />
                    </a-button>
                </router-link>
                <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                    <v-server-table ref="tableni" :url="url" :columns="columns" :options="options">

                        <div slot="logo" slot-scope="props" class="text-center" style="width:auto;">
                            <img :src="props.row.logo ? props.row.logo : '/no_image.png'" style="width: 40px; height: 40px" />
                        </div>

                        <div slot="color" slot-scope="props" class="text-center" style="width:auto;">
                            <a-button v-if="props.row.color" type="success" size="small" :style="'background: ' + props.row.color + '; color: white; border:none '">өнгө</a-button>
                        </div>
                        

                        <div slot="action" slot-scope="props" class="text-center" style="width:120px;">
                            <router-link :to="'/admin_content_type/'+props.row.id">
                                <a-button type="success" size="small" icon="eye" />
                            </router-link>

                            <router-link :to="'/admin_content_type/edit/'+props.row.id">
                                <a-button type="info" size="small" icon="edit" />
                            </router-link>

                            <a-popconfirm  v-if="props.row.contents_count==0" :title="props.row.name + ' устгах уу?'" placement="topRight" okText="Тийм" cancelText="Үгүй" @confirm="delRow(props.row.id)">
                                <a-icon slot="icon" type="question-circle-o" style="color: red" />
                                <a-button type="danger" icon="delete" size="small"></a-button>
                            </a-popconfirm>
                        </div>
                    </v-server-table>
                </a-layout-content>
            </template>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../../components/side";
import adminBreadcrumb from "../../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },
    data: function () {
        return {
            siteUrl: window.surl,
            url: "/admin_content_types",
            fetched: false,
            is_loading: false,
            fetched_membership_types: false,
            membership_types: [],
            columns: [
                'id',
                'main_id',
                'is_special',
                'mainMenu',
                'pIndex',
                'logo',
                'name',
                'color',
                'contents_count',
                
                "action"
            ],
            options: {
                perPage: 50,
                perPageValues: [50],
                pagetitle: "Файлын сан",
                headings: {
                    id: "UID",
                    main_id: 'Үндсэн ангилал',
                    is_special: 'Онцлох',
                    mainMenu: 'Үндсэн цэс',
                    pIndex: 'Дараалал',
                    logo: "Лого",
                    name: "Нэр",
                    color: "Өнгө",
                    contents_count: 'Контентийн тоо',
                    action: " "
                },
                filterByColumn: true,
                sortable: [],
                filterable: [],
                sortIcon: {
                    base: "fas",
                    up: "fa-sort-up",
                    down: "fa-sort-down",
                    is: "fa-sort"
                },
                listColumns: {},
                texts: {
                    noResults: "Хоосон байна...",
                    filterBy: "Хайх",
                    loading: "Уншиж байна...",
                    defaultOption: "Бүгд",
                },
                templates: {},
                rowClassCallback: function (row) {
                    if (row.admin_id === 0) {
                        return "has-text-link";
                    }
                },
                requestFunction: function (data) {
                    return axios
                        .get(this.url, {
                            params: data
                        })
                        .catch(
                            function (e) {
                                this.dispatch("error", e);
                            }.bind(this)
                        );
                },
                responseAdapter({
                    data
                }) {
                    return {
                        data: data && data.data ? data.data.data : [],
                        count: data && data.data ? data.data.total : 0
                    };
                }
            },
            visible: false,
            form: this.$form.createForm(this),
            fd: {
                id: 0,
                membership_type_id: 0,
                is_membership: false,
                membership_cif: ""
            }
        };
    },
    created: function () {},
    methods: {
        delRow: function (id) {
            this.$nprogress.start()
            axios.delete(this.url + '/' + id).then((response) => {
                this.$refs.tableni.refresh();
                this.$notification['success']({
                    message: 'Мэдээллийг устгаллаа'
                });
                this.$nprogress.done()
            })
        },
    }
};
</script>
