<template>
<a-layout id="components-layout-demo-top-side-2">
    <admin-side-bar menu="settings" sub_menu="admin_settings"></admin-side-bar>
    <a-layout style="padding: 0 24px 24px">
        <admin-breadcrumb menu="Тохиргоо" sub_menu="Түлхүүр үгийн тохиргооны жагсаалт" :sub_menu2="s_id ? 'Засах' : 'Нэмэх'"></admin-breadcrumb>

        <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
            <a-form>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a-card class="mb-4 w-100 жүц" title="Түлхүүр үг">
                            <a-form-item label="зураг/лого">
                                <div class="row">
                                    <div class="col-md-3" v-if="row.image && row.id>0">
                                        <img :src="row.image" style="height: 100px;" />
                                    </div>

                                    <div class="col-md-9">
                                        <a-upload @change="CmpLogoChange" :action="siteUrl+'/api/UploadImage'" :remove="CmpLogoRemove" listType="picture-card">
                                            <a-icon :type="loading ? 'loading' : 'plus'" />
                                            <div class="ant-upload-text">Зураг</div>
                                        </a-upload>
                                    </div>
                                </div>
                            </a-form-item>

                            <a-form-item label="Түлхүүр үг" class="col-m-4">
                                <a-input v-model="row.key_word" name="key_word" id="key_word" :class="{'was-validated': errors.has('key_word')}" v-validate="{'required':true, 'max':100}" />
                                <p v-show="errors.has('key_word')" class="text-danger">Заавал бөглөнө!</p>
                            </a-form-item>

                            <a-form-item label="Талбарын тайлбар мэдээлэл">
                                <textarea class="ant-input" v-model="row.description" />
                                </a-form-item>

                          <a-form-item label="Талбарын Төрөл" class="col-m-4">
                              <a-radio-group v-model="row.type" button-style="solid">
                                  <a-radio-button value="number">Тоо</a-radio-button>
                                  <a-radio-button value="string">Текстэн мэдээлэл</a-radio-button>
                                  <a-radio-button value="text">Текстэн мэдээлэл /тэмдэгт: >500/</a-radio-button>
                                  <a-radio-button value="html">HTML</a-radio-button>
                                  <a-radio-button value="email">Мэйл</a-radio-button>
                                  <a-radio-button value="phone">Утас</a-radio-button>
                              </a-radio-group>
                          </a-form-item>

                          <a-form-item label="Агууллага (Тоо)" v-if= "row.type=='number'">
                              <a-input type="number" v-model="row.value" />
                          </a-form-item>

                          <a-form-item label="Агууллага (Текстэн мэдээлэл)" v-if= "row.type=='string'">
                              <a-input v-model="row.value" />
                          </a-form-item>

                          <a-form-item label="Агууллага (Текстэн мэдээлэл /тэмдэгт: >500/)" v-if= "row.type=='text'">
                              <textarea class="ant-input" v-model="row.value" />
                          </a-form-item>

                          <a-form-item label="Агууллага (HTML)" v-if= "row.type=='html'">
                              <Tinymce v-model="row.value"></Tinymce>
                          </a-form-item>

                          <a-form-item label="Агууллага (Мэйл)" v-if= "row.type=='email'">
                              <a-input type="email" v-model="row.value" />
                          </a-form-item>

                          <a-form-item label="Агууллага (Утас)" v-if= "row.type=='phone'">
                              <a-input v-model="row.value" />
                          </a-form-item>

                        </a-card>
                    </div>
                </div>
                <div class="form-actions">
                  <router-link :to="'/admin_settings'">
                    <a-button type="default">Буцах</a-button>
                  </router-link>
                  <a-button @click="groupSubmit" type="primary" class="mr-2">Хадгалах</a-button>
                </div>
            </a-form>
        </a-layout-content>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
import moment from 'moment';
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },

    data: function () {
        return {
            siteUrl: window.surl, 
            fetched: false,
            s_id: null,
            url: "/admin_settings",
            row: {
                id: null,
                key_word: "",
                type: "string",
                value: "",
                description: ""
            },
            images: [],
        };
    },
    created: function () {
        this.get();
    },
    methods: {
        CmpLogoChange(info) {
            if (info.file.status === "done") {
                this.images.push(info.file.response);
            }
        },

        CmpLogoRemove(file) {
            const index = this.images.indexOf(file);
            const i = this.images.slice();
            i.splice(index, 1);
            this.images = i;
        },

        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.fetched = true;
            }
        },

        groupSubmit: function () {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$nprogress.start();
                    let formData = new FormData();
                    this.row.image = this.images.length > 0 ? this.images[0].url : this.row.image;
                    formData.append("data", JSON.stringify(this.row));
                    axios.post(this.url, formData).then(response => {
                        this.$nprogress.done();
                        if (response && response.data && response.data.is_done) {
                            this.$notification["success"]({
                                message: "Амжилттай хадгаллаа",
                            });
                            this.$router.push({
                                path: "/admin_settings"
                            });
                        } else {
                            response.data.error.forEach(i => this.$notification["warning"]({
                                message: i
                            }));
                        }
                    });
                }
            });
        },
    },
};
</script>
