<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="settings" sub_menu="admin_settings"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Тохиргоо" sub_menu="Түлхүүр үгийн тохиргооны жагсаалт" sub_menu2="Дэлгэрэнгүй"></admin-breadcrumb>
            <a-layout-content v-if="fetched" :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">

                <a-card class="mb-4 w-100" :title="row.key_word">
                    <a-form-item label="UID" />
                    <h6> {{row.id}}</h6>

                    <a-form-item label="Түлхүүр үг" />
                    <h6> {{row.key_word}}</h6>
                    <a-form-item label="Төрөл" />
                    <h6> {{row.type}}</h6>
                    <a-form-item label="Тайлбар" />
                    <h6> {{row.description}}</h6>


                    <a-form-item label="Бүртгэсэн огноо" />
                    <h6> {{row.created_at}}</h6>


                    <a-form-item label="Агууллага" />
                    <p style="padding: 20px" v-if="row.type=='html'" v-html="row.value"></p>
                    <h6 v-else> {{row.value}}</h6>
                  

                </a-card>
                <div class="form-actions">
                    <router-link :to="'/admin_settings'">
                        <a-button type="default">Буцах</a-button>
                    </router-link>
                </div>
            </a-layout-content>
            <a-layout-content v-else>
                Мэдээлэл устгагдсан байна ...
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },
    data: function () {
        return {
            s_id: null,
            url: "/admin_settings",
            row: null,
            fetched: false,
        };
    },
    created: function () {
        this.get();
    },
    methods: {
        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.fetched = true;
            }
        },
    },
}
</script>
