<template>
<div class="about-info">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="about-title">
                    холбоо барих мэдээлэл
                    <a-button @click="showContactModal(null,true)" type="primary" size="small" icon="plus" />
                </div>
                <div class="col-md-12 card" v-if="row && datas">
                    <div class="row">
                        <div class="col-md-12" v-for="row in datas" :key="row.id">
                            <div class="info-block">
                                <div class="info-icon">
                                    <i v-if="row.contact_type=='phone'" class="fa fa-phone"></i>
                                    <i v-if="row.contact_type=='email'" class="fa fa-envelope"></i>
                                    <i v-else class="fa fa-link"></i>
                                </div>
                                <div class="info-text"><span>{{row.contact_type}}</span>{{row.contact_value}}</div>
                                <div class="info-action">
                                    <button class="submit-btn" @click="showContactModal(row,true)">засах</button>
                                    <button class="submit-btn" style="background: red" @click="del(row.id)">устгах</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a-drawer :title="contact_data.id===0 ? 'Холбоо барих: нэмэх' : 'Холбоо барих: засах'" placement="right" @close="contact_modal=false; emtpyContactData();" :visible="contact_modal">
        <form @submit.prevent="contactFormSubmit">
            <div class="form-group">
                <label>төрөл</label>
                <select class="form-control" v-model="contact_data.contact_type">
                    <option :value="null">---</option>
                    <option value="email">Мэйл</option>
                    <option value="phone">Утас</option>
                    <option value="web">Вэб</option>
                    <option value="facebook">facebook</option>
                    <option value="twitter">twitter</option>
                    <option value="linkedin">LinkedIn</option>
                </select>
            </div>

            <div class="form-group">
                <label>Утга эсвэл холбоос бичнэ үү</label>
                <input type="text" class="ant-input" v-model="contact_data.contact_value" />
            </div>
            <div :style="{
            position: 'absolute',
            bottom: 0,
            width: '100%',
            borderTop: '1px solid #e8e8e8',
            padding: '10px 16px',
            textAlign: 'right',
            left: 0,
            background: '#fff',
            borderRadius: '0 0 4px 4px',
          }">
                <a-button class @click="contact_modal=false; emtpyContactData()">Болих</a-button>
                <a-button @click="contactFormSubmit" type="primary">Хадгалах</a-button>
            </div>
        </form>
    </a-drawer>
</div>
</template>

<script>
export default {
    name: "Contact",
    props: ["company"],
    data: function () {
        return {
            row: this.company,

            // contact form - modal
            contact_modal: false,
            contact_data: {
                id: 0,
                company_id: 0,
                contact_type: 0,
                contact_value: 0,
            },
            datas: [],
        };
    },
    computed: {},
    created() {
        this.gets();
    },
    methods: {
        gets() {
            axios.get("/company_contacts", {
                params: {
                    id: this.company.id,

                }
            }).then(response => {
                this.datas = response.data.data;
            });
        },
        ////////////////////////////////////////////////////////////
        //////////////// contact model - start /////////////////////
        ////////////////////////////////////////////////////////////
        emtpyContactData() {
            this.contact_data = {
                id: 0,
                company_id: this.row.id,
                contact_type: null,
                contact_value: "",
            }
        },

        showContactModal(row, status) {
            this.emtpyContactData();
            if (row != null) {
                this.contact_data = row;
            }
            this.contact_modal = true;
        },

        contactFormSubmit() {
            this.$nprogress.start();
            let formData = new FormData();
            formData.append("data", JSON.stringify(this.contact_data));
            axios.post("/company_contacts", formData).then(response => {
                this.$nprogress.done();
                if (response && response.data && response.data.is_done) {
                    this.emtpyContactData();
                    this.contact_modal = false;
                    this.gets();
                    this.$notification["success"]({
                        message: response.data.message
                    });
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        message: response.data.message
                    });
                }
            });
        },

        del: function (id) {
            axios.delete("/company_contacts/" + id).then(response => {
                this.$notification["success"]({
                    message: response.data.message
                });
                this.gets();
            });
        },
        ////////////////////////////////////////////////////////////
        //////////////// contact model - end ///////////////////////
        ////////////////////////////////////////////////////////////

    }
};
</script>
