<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_companies" sub_menu="companies"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Байгууллага" sub_menu="Байгууллага" :sub_menu2="s_id ? 'Засах' : 'Нэмэх'"></admin-breadcrumb>
            <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <a-form>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <a-card class="mb-4 w-100" title="Үндсэн мэдээлэл">
                                <a-form-item label="Үндсэн салбар эсэх">
                                    <a-radio-group v-model="row.is_main" button-style="solid">
                                        <a-radio-button value="1">Үндсэн салбар</a-radio-button>
                                        <a-radio-button value="0">Салбар байгууллага</a-radio-button>
                                    </a-radio-group>
                                </a-form-item>

                                <a-form-item label="" v-if="row.is_main==0">
                                    <label>Үндсэн байгууллага</label>
                                    <br />
                                    <a-select class="form-control" show-search placeholder="Select a person" option-filter-prop="children" style="width: 200px" :default-value="row.main_id" @change="handleGroupChange">
                                        <template v-for="d in companies_data">
                                            <a-select-option :value="d.id" :key="d.value" v-if="d.main_id<1">
                                                {{ d.name }}
                                            </a-select-option>
                                        </template>
                                    </a-select>
                                </a-form-item>

                                <a-form-item label="Байгууллагын зураг/лого">
                                    <div class="row">
                                        <div class="col-md-3" v-if="row.logo && row.id>0">
                                            <img :src="row.logo" style="height: 100px;" />
                                        </div>

                                        <div class="col-md-9">
                                            <a-upload @change="CmpLogoChange" :action="siteUrl+'/api/uploadImage'" :remove="CmpLogoRemove" listType="picture-card">
                                                <a-icon :type="loading ? 'loading' : 'plus'" />
                                                <div class="ant-upload-text">Зураг</div>
                                            </a-upload>
                                        </div>
                                    </div>
                                </a-form-item>

                                <a-form-item label="Байгууллагын ковер зураг">
                                    <div class="row">
                                        <div class="col-md-3" v-if="row.cover && row.id>0">
                                            <img :src="row.logo" style="height: 100px;" />
                                        </div>

                                        <div class="col-md-9">
                                            <a-upload @change="CmpCoverChange" :action="siteUrl+'/api/uploadImage'" :remove="CmpCoverRemove" listType="picture-card">
                                                <a-icon :type="loading ? 'loading' : 'plus'" />
                                                <div class="ant-upload-text">{Зураг}</div>
                                            </a-upload>
                                        </div>
                                    </div>
                                </a-form-item>

                                <a-form-item label="Байгууллага эсэх">
                                    <a-radio-group v-model="row.is_company" button-style="solid">
                                        <a-radio-button value="1">Байгууллага</a-radio-button>
                                        <a-radio-button value="0">Хувь хүн</a-radio-button>
                                    </a-radio-group>
                                </a-form-item>

                                <a-form-item label="Байгууллагын РД" v-if="row.is_company">
                                    <a-input placeholder="" v-model="row.company_rd" />
                                </a-form-item>

                                <a-form-item label="Баталгаажуулалтын төлөв">
                                    <a-radio-group v-model="row.status" button-style="solid">
                                        <a-radio-button value="waiting">Хүлээгдэж байгаа</a-radio-button>
                                        <a-radio-button value="active">Идэвхитэй</a-radio-button>
                                        <a-radio-button value="blocked">Блок хийгдсэн</a-radio-button>
                                    </a-radio-group>
                                </a-form-item>

                                <div class="form-group">
                                    <label>Хамаарах ангилалууд</label>
                                    <template v-if="row.selected_types!=null && types.length>0">
                                        <a-select mode="multiple" :default-value="row.selected_types" style="width: 100%" placeholder="Ашиглах байгууллагууд сонгох" @change="handleTypeChange">
                                            <a-select-option v-for="i in types" :key="i.id" :value="i.id">
                                                <span role="img"><img style="width: 20px" :src="i.logo ? i.logo : '/no_image.png'" /> </span>{{i.name}}</a-select-option>
                                        </a-select>
                                    </template>
                                </div>

                                <a-form-item label="Нэр">
                                    <a-input placeholder="Кирилл үсгээр бичнэ бичнэ үү ..." v-model="row.name" name="name" id="name" :class="{'was-validated': errors.has('name')}" v-validate="{'required':true, 'max':100}" />
                                    <p v-show="errors.has('name')" class="text-danger">Заавал бөглөнө!</p>
                                </a-form-item>

                                <a-form-item label="Товч тайлбар">
                                    <a-input placeholder="Кирилл үсгээр бичнэ бичнэ үү ..." v-model="row.short_desc" />
                                </a-form-item>
                            </a-card>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12">

                            <a-card class="mb-4 w-100" v-if="row && row.id>0" title="Холбоо барих мэдээлэл">
                                <contact :company="row"></contact>
                            </a-card>

                            <a-card class="mb-4 w-100" title="Хаягийн мэдээлэл">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Хот/Аймаг сонгох</label>
                                            <select class="form-control" v-model="row.city_id" @change="changeCountry('districts', row.city_id); ">
                                                <option :value="null"></option>
                                                <option v-for="city in cities" :key="city.id" :value="city.id">{{city.name}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Сум/Дүүрэг сонгох</label>
                                            <select class="form-control" v-model="row.district_id" @change="changeCountry('wards', row.district_id); ">
                                                <option :value="null"></option>
                                                <option v-for="district in districts" :key="district.id" :value="district.id">{{district.name}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Хороо/Баг сонгох</label>
                                            <select class="form-control" v-model="row.ward_id">
                                                <option :value="null"></option>
                                                <option v-for="ward in wards" :key="ward.id" :value="ward.id">{{ward.name}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Хаягийн дэлгэрэнгүй</label>
                                            <input type="text" class="ant-input" v-model="row.address" />
                                        </div>

                                        <div class="form-group">
                                            <label>w3w</label>
                                            <input type="text" class="ant-input" v-model="row.w3w" />
                                        </div>

                                        <div class="form-group">
                                            <label>Уртраг (MAP)</label>
                                            <input type="text" class="ant-input" v-model="row.long" />
                                        </div>

                                        <div class="form-group">
                                            <label>Өргөрөг (MAP)</label>
                                            <input type="text" class="ant-input" v-model="row.lat" />
                                        </div>

                                        <a-form-item label="Хамтран ажилладаг эсэх">
                                            <a-radio-group v-model="row.partnership" button-style="solid">
                                                <a-radio-button value="1">Хамтран ажилладаг</a-radio-button>
                                                <a-radio-button value="0">Үгүй</a-radio-button>
                                            </a-radio-group>
                                        </a-form-item>
                                    </div>
                                </div>
                            </a-card>

                        </div>
                        <div class="col-md-12">

                            <a-form-item label="Нэмэлт мэдээ мэдээлэл">
                                <Tinymce v-model="row.desc"></Tinymce>
                            </a-form-item>
                        </div>
                    </div>

                    <div class="form-actions">
                        <router-link :to="'/admin_companies'">
                            <a-button type="default">Буцах</a-button>
                        </router-link>
                        <a-button @click="groupSubmit" type="primary" class="mr-2">Хадгалах</a-button>
                    </div>
                </a-form>
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
import Contact from "./contact";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb,
        Contact
    },

    data: function () {
        return {
            siteUrl: window.surl,
            fetched: false,
            s_id: null,
            loading: false,
            url: "/admin_companies",
            row: {
                id: null,
                is_main: "1",
                main_id: null,
                is_company: "1",
                status: 'waiting',
                type_id: null,
                name: null,
                logo: null,
                cover: null,
                company_rd: null,
                short_desc: null,
                desc: null,
                partnership: '0',
                city_id: null,
                district_id: null,
                ward_id: null,
                address: null,
                fax: null,
                w3w: null,
                long: null,
                lat: null,
                selected_types: null
            },

            cities: [],
            districts: [],
            wards: [],

            types: [],
            lastFetchId: 0,
            companies_data: [],
            fetching: false,
            value: undefined,
            images: [],
            covers: [],
        };
    },
    created: function () {
        this.getTypes();
        this.getCities();
        this.get();
        this.getCompanies();
    },
    methods: {
        handleTypeChange(selected_types) {
            this.row.selected_types = selected_types;
        },

        getCompanies() {
            axios.get("/get_bonus_companies").then(response => {
                this.companies_data = response.data.data;
            });
        },
        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    if (this.row.main_id > 0) {
                        this.value = this.row.main_id;
                    }
                    if (this.row.city_id > 0) {
                        this.changeCountry('districts', this.row.city_id);
                        if (this.row.district_id > 0) {
                            this.changeCountry('wards', this.row.district_id);
                        }
                    }
                    this.fetched = true;
                });
            } else {
                this.row.selected_types = [];
                this.fetched = true;
            }
        },

        CmpLogoChange(info) {
            if (info.file.status === "done") {
                this.images.push(info.file.response);
            }
        },

        CmpLogoRemove(file) {
            const index = this.images.indexOf(file);
            const i = this.images.slice();
            i.splice(index, 1);
            this.images = i;
        },

        CmpCoverChange(info) {
            if (info.file.status === "done") {
                this.covers.push(info.file.response);
            }
        },

        CmpCoverRemove(file) {
            const index = this.covers.indexOf(file);
            const i = this.covers.slice();
            i.splice(index, 1);
            this.covers = i;
        },

        getTypes() {
            axios.get("/admin_company_types", {
                    params: {
                        no_paging: true
                    }
                }).then(response => {
                this.types = response.data.data;
            });
        },

        getCities() {
            axios.get("/cities").then(response => {
                this.cities = response.data.data;
            });
        },

        changeCountry(type, val) {
            if (val != null) {
                axios.get("/" + type + "/" + val).then(response => {
                    if (type == "districts") {
                        this.districts = response.data.data;
                        this.wards = [];
                    } else {
                        this.wards = response.data.data;
                    }
                });
            } else {
                if (type == "districts") {
                    this.wards = [];
                    this.districts = [];
                } else {
                    this.wards = [];
                }
            }
        },

        handleGroupChange(value) {
            this.value = value;
            fetch(value, data => (this.data = data));
            this.row.main_id = value;
        },

        groupSubmit: function () {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$nprogress.start();
                    let formData = new FormData();
                    this.row.logo = this.images.length > 0 ? this.images[0].url : this.row.logo;
                    this.row.cover = this.covers.length > 0 ? this.covers[0].url : this.row.cover;
                    formData.append("data", JSON.stringify(this.row));
                    axios.post(this.url, formData).then(response => {
                        this.$nprogress.done();
                        if (response && response.data && response.data.is_done) {
                            this.$notification["success"]({
                                message: "Амжилттай хадгаллаа",
                            });
                            this.$router.push({
                                path: "/admin_companies"
                            });
                        } else {
                            response.data.error.forEach(i => this.$notification["warning"]({
                                message: i
                            }));
                        }
                    });
                }
            });
        },
    },
};
</script>
