<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_companies" sub_menu="companies"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Байгууллага" sub_menu="Байгууллага" sub_menu2=""></admin-breadcrumb>
            <router-link v-if="$store.getters.authUser.isSuperAdmin" to='/admin_company_add'>
                <a-button type="success" class="float-add_button" shape="circle" size="large">
                    <a-icon type="plus" />
                </a-button>
            </router-link>

            <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <v-server-table ref="tableni" :url="url" :columns="columns" :options="options">
                    <div slot="logo" slot-scope="props" class="text-center" style="width:auto;">
                        <img v-if="props.row.logo" :src="props.row.logo" style="width: 40px; height: 40px" />
                        <img v-else src="/empty.png" style="width: 40px; height: 40px" />
                    </div>

                    <div slot="action" slot-scope="props" class="text-center" style="width:auto;">
                        <router-link :to="'/admin_company/'+props.row.id">
                            <a-button type="success" size="small" icon="eye" />
                        </router-link>

                        <router-link :to="'/admin_company/edit/'+props.row.id">
                            <a-button type="info" size="small" icon="edit" />
                        </router-link>

                        <a-popconfirm :title="props.row.name + ' устгах уу?'" placement="topRight" okText="Тийм" cancelText="Үгүй" @confirm="deleteData(props.row.id)">
                            <a-icon slot="icon" type="question-circle-o" style="color: red" />
                            <a-button type="danger" icon="delete" size="small"></a-button>
                        </a-popconfirm>
                    </div>
                </v-server-table>
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },
    data: function () {
        return {
            siteUrl: window.surl,
            url: "/admin_companies",
            fetched: false,
            is_loading: false,
            fetched_membership_types: false,
            membership_types: [],
            columns: [
                'id',
                'logo',
                'type',
                'main',
                'name',
                'partnership',
                'status',
                "action",
            ],
            options: {
                perPage: 20,
                perPageValues: [20, 50],
                pagetitle: "Файлын сан",
                headings: {
                    id: "UID",
                    logo: "Зураг",
                    type: "Ангилал",
                    main: "Үндсэн байгууллага",
                    name: "Нэр",
                    partnership: "partnership",
                    status: "Системийн төлөв",
                    action: " ",
                },
                filterByColumn: true,
                sortable: [],
                filterable: [],
                sortIcon: {
                    base: "fas",
                    up: "fa-sort-up",
                    down: "fa-sort-down",
                    is: "fa-sort"
                },
                listColumns: {

                },
                texts: {
                    noResults: "Хоосон байна...",
                    filterBy: "Хайх",
                    loading: "Уншиж байна...",
                    defaultOption: "Бүгд",
                },
                templates: {
                    main: function (h, row, index) {
                        return row.main ? row.main.name : '';
                    },
                    type: function (h, row, index) {
                        return row.type ? row.type.name : '';
                    },

                    partnership: function (h, row, index) {
                        return row.partnership == 1 ? 'Харилцагч' : '---';
                    },
                },

                rowClassCallback: function (row) {
                    if (row.admin_id === 0) {
                        return "has-text-link";
                    }
                },
                requestFunction: function (data) {
                    return axios
                        .get(this.url, {
                            params: data
                        })
                        .catch(
                            function (e) {
                                this.dispatch("error", e);
                            }.bind(this)
                        );
                },
                responseAdapter({
                    data
                }) {
                    return {
                        data: data.data.data,
                        count: data.data.total
                    };
                }
            },
            visible: false,
            form: this.$form.createForm(this),
            fd: {
                id: 0,
                membership_type_id: 0,
                is_membership: false,
                membership_cif: ""
            }
        };
    },
    created: function () {},
    methods: {
        deleteData: function (id) {
            this.$nprogress.start()
            axios.delete(this.url + '/' + id).then((response) => {
                this.$refs.tableni.refresh();
                this.$notification['success']({
                    message: 'Мэдээллийг устгаллаа'
                });
                this.$nprogress.done()
            })
        },
    }
};
</script>
