<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_companies" sub_menu="companies"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Байгууллага" sub_menu="Байгууллага" sub_menu2="Дэлгэрэнгүй"></admin-breadcrumb>
            <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <div class="row" v-if='row'>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <a-card class="mb-4 w-100" title="Үндсэн мэдээлэл">
                            <a-form-item label="Салбар">
                                <a-radio-group button-style="solid">
                                    <a-radio-button v-if="row.is_main == 1">Үндсэн салбар</a-radio-button>
                                    <a-radio-button v-if="row.is_main == 0">Салбар байгууллага</a-radio-button>
                                </a-radio-group>
                            </a-form-item>

                            <a-form-item label="Лого" v-if="row.logo && row.id>0" />
                            <img v-if="row.logo && row.id>0" :src="row.logo" style="height: 100px;" />

                            <a-form-item label="Ковер" v-if="row.cover && row.id>0" />
                            <img v-if="row.cover && row.id>0" :src="row.cover" style="height: 100px;" />

                            <a-form-item label="Байгууллага эсэх">
                                <a-radio-group button-style="solid">
                                    <a-radio-button v-if="row.is_company == 1">Байгууллага</a-radio-button>
                                    <a-radio-button v-if="row.is_company == 0">Хувь хүн</a-radio-button>
                                </a-radio-group>
                            </a-form-item>

                            <a-form-item label="Байгууллагын РД" v-if="row.is_company">
                                <h6>{{row.company_rd}}</h6>
                            </a-form-item>

                            <a-form-item label="Баталгаажуулалтын төлөв">
                                <a-radio-group button-style="solid">
                                    <a-radio-button v-if="row.status == 'waiting'">Хүлээгдэж байгаа</a-radio-button>
                                    <a-radio-button v-if="row.status == 'active'">Идэвхитэй</a-radio-button>
                                    <a-radio-button v-if="row.status == 'blocked'">Блок хийгдсэн</a-radio-button>
                                </a-radio-group>
                            </a-form-item>

                            <div class="form-group">
                                <label>Ангилал</label>
                                <h6>{{row.company_type ? row.company_type.name : ''}}</h6>
                            </div>

                            <a-form-item label="Нэр">
                                <h6>{{row.name}}</h6>
                            </a-form-item>

                            <a-form-item label="Товч тайлбар">
                                <h6>{{row.short_desc}}</h6>
                            </a-form-item>

                            <a-form-item label="Нэмэлт мэдээ мэдээлэл">
                                <h6>{{row.desc}}</h6>
                            </a-form-item>
                        </a-card>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <a-card class="mb-4 w-100" v-if="row" title="Холбоо барих мэдээлэл">
                            <contact :company="row"></contact>
                        </a-card>

                        <a-card class="mb-4 w-100" title="Хаягийн мэдээлэл">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Хот/Аймаг</label>
                                        <h6>{{row.city ? row.city.name : ''}}</h6>
                                    </div>

                                    <div class="form-group">
                                        <label>Сум/Дүүрэг</label>
                                        <h6>{{row.district ? row.district.name : ''}}</h6>
                                    </div>

                                    <div class="form-group">
                                        <label>Хороо/Баг</label>
                                        <h6>{{row.ward ? row.ward.name : ''}}</h6>
                                    </div>

                                    <div class="form-group">
                                        <label>Хаягийн дэлгэрэнгүй</label>
                                        <h6>{{row.address}}</h6>
                                    </div>

                                    <div class="form-group">
                                        <label>w3w</label>
                                        <h6>{{row.w3w}}</h6>
                                    </div>

                                    <div class="form-group">
                                        <label>Уртраг (MAP)</label>
                                        <h6>{{row.long}}</h6>
                                    </div>

                                    <div class="form-group">
                                        <label>Өргөрөг (MAP)</label>
                                        <h6>{{row.lat}}</h6>
                                    </div>

                                    <div class="form-group">
                                        <label>Хамтран ажилладаг эсэх</label>
                                        <h6>{{row.partnership ? 'тийм' : 'үгүй'}}</h6>
                                    </div>
                                </div>
                            </div>
                        </a-card>
                    </div>
                </div>
                <div class="form-actions">
                    <router-link :to="'/admin_companies'">
                        <a-button type="default">Буцах</a-button>
                    </router-link>
                </div>
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
import Contact from "./contact";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb,
        Contact
    },
    data: function () {
        return {
            s_id: null,
            url: "/admin_companies",
            cities: [],
            districts: [],
            wards: [],
            row: null,
            fetched: false,
        };
    },
    created: function () {
        this.get();
    },
    methods: {
        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.fetched = true;
            }
        },
    },
}
</script>
