<template>
<div class="container">
    <div style="margin-top: 30px; padding: 30px" class="card">
        <template v-if="response && response.value">
            <img style="width: 100%" v-if="response.image" :src="response.image ? response.image : '/noimage.png'">
            <h1>{{response.description}}</h1>
            <p style="padding: 20px" v-if="response.type=='html'" v-html="response.value"></p>
            <p v-else> {{response.value}}</p>
        </template>
        <template v-else>
            <div class="waiting_div" style="margin-top: 30px !important; min-height: 400px">
                <img src="/empty.png" />
                <p> Одоогоор тусламж мэдээлэл хоосон байна ... </p>
            </div>
        </template>
    </div>
    <div style="padding: 30px">
        <help />
    </div>
</div>
</template>

<script>
import Help from "../../../components/Public/Help";
export default {
    name: "faq",
    components: {
        Help,
    },
    data: function () {
        return {
            isLoading: false,
            response: null,

            row: {
                key: ['faq']
            }
        };
    },

    created() {
        this.get();
    },

    methods: {
        get() {
            let formData = new FormData();
            formData.append("data", JSON.stringify(this.row));
            axios.post("/const_by_key", formData).then(response => {
                if (response && response.data && response.data.is_done) {
                    var datas = response.data.data;
                    datas.forEach(element => {
                        if (element.key_word == 'faq') {
                            this.response = element;
                        }
                    });
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        message: response.data.message
                    });
                }
            });

        },
    }
};
</script>