<template>
<div class="row content_category" :style="'background-color:'+row.color + ';'" v-if="row && row.contents_count>20">
    <div class="image">
        <img :src="row.logo ? row.logo : '/no_image.png'">
    </div>
    <div class="desc">
        <h1>{{row.name}}</h1>
        <p>{{row.contents_count}} контент</p>
    </div>
    <div class="action">
    </div>
</div>
</template>

<script>
export default {
    name: "ContentCategory",
    props: ["row"],
}
</script>

<style scoped>
.content_category {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 2px 15px #ddd;
}

.image {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #ffbf08;
    overflow: hidden;
    border-radius: 10px;
}

.image img {
    width: 100%;
}

.desc {
    position: absolute;
    display: inline-block;
    padding-left: 60px;
    padding-top: 10px;
    overflow: hidden;
}

.desc h1 {
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
}

.desc p {
    color: #d1cabf;
}
</style>
