<template>
<div class="col-sm-12 col-md-4">
    <div class="content">
        <div class="image">
            <img :src="row.logo ? row.logo : '/no_image.png'">
        </div>
        <div class="desc">
            <div class="text">
                <a :href="'/#/content/'+row.id">
                    <h1>{{row.title}}</h1>
                </a>
                <p>{{row.short_desc}}</p>
                <a-tag v-for="r in row.types" :key="row.id+ 'tags_'+r.id" :color="r.color" style="color: black">
                    {{r.name}}
                </a-tag>

                <a-tag v-for="r in row.authors" :key="row.id+ 'tags_'+r.id" color="#fef0e2" style="color: black">
                    {{r.full_name}}
                </a-tag>
            </div>
        </div>
        <div class="date">
            {{year(row.created_at)}}
            <br />
            {{date(row.created_at)}}
        </div>

        <div class="see" v-if="row.see>0">
            <a-icon type="eye" /> {{row.see}} 
        </div>
    </div>
</div>
</template>

<script>
import moment from 'moment';
export default {
    name: "SingleContent",
    props: ["row"],
    data() {
        return {
            siteUrl: window.surl,
            mpVisible: false,
            processing: false,
            search: "",
            mobileSearch: false,
            a: false,
            menu: false,
        };
    },
    created: function () {

    },
    methods: {
        year(value) {
            return moment(String(value)).format('YYYY');
        },
        date(value) {
            return moment(String(value)).format('MM/DD');
        },
    }
};
</script>

<style scoped>
.main_card {
    padding: 10px;
}

.content {
    padding: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 2px 15px #ddd;
    background: white;
    display: block;
    position: relative;
}

.content .image {
    width: 100%;
    height: auto;
    background: white;
    overflow: hidden;
    border-radius: 10px;

}

.content .image img {
    width: 100%;
    height: auto;
    min-height: 250px;
}

.content .desc {
    background: white;
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    padding: 10px;
    height: 70px;
    width: 100%;
}

.content .desc .text {
    overflow: hidden;
}

.content .desc h1 {
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
    white-space: nowrap;
}

.content .desc p {
    color: #d1cabf;
    white-space: nowrap;
    padding: 0px;
    margin-bottom: 0;
}

.content .date {
    position: absolute;
    bottom: 40px;
    right: 10px;
    height: auto;
    background: #ffc109;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.content .see {
    position: absolute;
    top: 10px;
    right: 10px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background: #ffc109;
    color: white;
}
</style>
