<template>
<div v-if="menu" class="row categoryList">
    <div v-for="m in menu" :key="m.id" class="col-sm-12 col-md-4">
        <a :href="'/#/contents/'+m.id">
        <a-card hoverable :style="'background:'+m.color ">
            <img slot="cover" :alt="m.name" :src="m.logo" :style="'background:'+m.color " />
            <a-card-meta :title="m.name" description="" />
        </a-card>
        </a>
    </div>
</div>
</template>

<script>
export default {
    name: "HomeMenu",
    data() {
        return {
            menu: null,
        };
    },

    created: function () {
        this.getCategories();
    },
    methods: {
        getCategories() {
            axios.get("/menu").then(response => {
                this.menu = response.data.data;
            });
        },
    }
};
</script>
