<template>
<div class="">
    <div v-if="categories && categories.length>0" class="row">
        <template v-for="cat in categories">
            <template v-if="cat.contents && cat.contents.length>5">
                <h4 class="col-md-12" style="padding-top: 20px" :key="cat.id">{{cat.name}} - {{cat.contents.length}}</h4>
                <template v-for="(row,i) in cat.contents">
                    <single-content v-if="i<9" :row="row" :key="cat.id + '_sub_item_'+row.id"></single-content>
                </template>
            </template>
        </template>

    </div>
    <div v-else class="col-md-12">
        <div class="waiting_div" style="min-height: 400px;">
            <img src="/loading.gif" />
            <p style="text-align: center"> Уншиж байна ... </p>
        </div>
    </div>
</div>
</template>

<script>
import SingleContent from "./Content";
export default {
    name: "SpecialContents",
    components: {
        SingleContent
    },
    data() {
        return {
            categories: null,
        };
    },

    created: function () {
        this.getCategories();
    },
    methods: {
        getCategories() {
            axios
                .get('/content_types', {
                    params: {
                        is_special: 1
                    }
                })
                .then(r => {
                    this.categories = r.data.data;
                });
        }
    }
};
</script>
