<template>
<div class="container body">
    <div class="row" v-if="row">
        <div class="col-md-8">
            <info :user="row"></info>
        </div>

        <div class="col-md-4">
            <contact :user="row"></contact>
            <address :user="row"></address>
        </div>
    </div>
    <template v-else>
        уншиж байна ...
    </template>
</div>
</template>

<script>
import Info from "../../components/Private/Users/info";
import Address from "../../components/Private/Users/address";
import Contact from "../../components/Private/Users/contact";
export default {
    components: {
        Info,
        Address,
        Contact
    },
    data: function () {
        return {
            row: this.$store.getters.authUser
        };
    },
}
</script>
