<template>
<div>
    <cui-topbar />
    <div class="main_div">
        <router-view />
    </div>
</div>
</template>

<script>
import CuiTopbar from '../components/Menu'
export default {
    name: 'HomeAuthorized',
    components: {
        CuiTopbar
    },
}
</script>
