<template>
  <a-layout id="components-layout-demo-top-side-2">
    <a-layout>
      <admin-side-bar menu="home" sub_menu="home"></admin-side-bar>
      <a-layout style="padding: 0 24px 24px">
        <admin-breadcrumb menu="Дашбоард" sub_menu="" sub_menu2=""></admin-breadcrumb>
        <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
          Дашбоард
        </a-layout-content>
      </a-layout>
    </a-layout>
  </a-layout>
</template>



<script>
import adminSideBar from "./components/side";
import adminBreadcrumb from "./components/breadcrumb";
export default {
  components: {
    adminSideBar,
    adminBreadcrumb
  },
}
</script>