$primaryColorDark: #FFA000;
$primaryColor: #FFC107;
$primaryColorLight: #FFECB3;
$secondPrimaryColorLight: #fafafa;
$primaryColorText: #212121;
$accentColor: #FFC107;
$primaryprimaryColorLight: #212121;
$secondaryPrimaryColorLight: #757575;
$thirdPrimaryColorLight: #fff;
$dividerColor: #BDBDBD;
body {
    font-family: 'Open Sans', sans-serif;
    background-color: $secondPrimaryColorLight;
    .main_div {
        padding-top: 90px;
    }
}

////////////////////////////////////////////////
///////////// ---- navbar ---- /////////////////
////////////////////////////////////////////////
.top_menu {
    position: fixed;
    width: 100%;
    background-color: $primaryColor;
    color: $primaryColorLight;
    z-index: 99;
    min-height: 68px;
    .info_div {
        height: 40px;
        line-height: 40px;
        background-color: $primaryColorDark;
        text-align: right;
        color: $primaryColorLight;
        padding-left: 20px;
        padding-right: 20px;
        a {
            color: $primaryColorLight;
        }
        .logo {
            position: absolute;
            left: 20px;
            img {
                height: 30px;
                width: auto;
            }
        }
    }
    .ant-menu {
        background-color: $primaryColor;
        color: $thirdPrimaryColorLight;
    }
    .ant-menu-item-group {
        background: $secondPrimaryColorLight;
        color: $primaryColorLight;
    }
    .ant-menu-horizontal>.ant-menu-item>a {
        color: $thirdPrimaryColorLight;
    }
    .ant-menu-horizontal>.ant-menu-item>a:hover {
        color: $thirdPrimaryColorLight;
    }
    .ant-menu-horizontal>.ant-menu-item:hover,
    .ant-menu-horizontal>.ant-menu-submenu:hover,
    .ant-menu-horizontal>.ant-menu-item-active,
    .ant-menu-horizontal>.ant-menu-submenu-active,
    .ant-menu-horizontal>.ant-menu-item-open,
    .ant-menu-horizontal>.ant-menu-submenu-open,
    .ant-menu-horizontal>.ant-menu-item-selected,
    .ant-menu-horizontal>.ant-menu-submenu-selected {
        color: $primaryColorLight;
        border-bottom: $primaryColorLight;
        background-color: $primaryColor;
    }
}

////////////////////////////////////////////////////
//////// ---- Нэвтрэх болон бүртгэх ---- ///////////
////////////////////////////////////////////////////
.auth_form {
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 15px #ddd;
    margin-top: 20px;
    h1 {
        font-size: 13px;
        font-weight: bold;
        color: $primaryColorDark;
        border-bottom: 1px solid $primaryColorDark;
        text-align: center;
        padding: 20px;
    }
    form {
        padding: 20px;
        label {
            color: $secondaryPrimaryColorLight;
            font-size: 10px;
            text-transform: uppercase;
        }
        input {
            width: 100%;
            background-color: $secondPrimaryColorLight;
            line-height: 40px;
            height: 40px;
            border: 1px solid $secondaryPrimaryColorLight;
            margin-bottom: 20px;
            font-size: 18px;
            color: $primaryColorText;
            padding-left: 10px;
        }
        button {
            color: $thirdPrimaryColorLight;
            background-color: $primaryColorDark;
            border: 1px solid $primaryColorDark;
            width: 100%;
            min-height: 40px;
            line-height: 40px;
        }
        .term_text {
            font-size: 13px;
            color: $secondaryPrimaryColorLight;
            margin-bottom: 10px;
            a {
                color: $primaryColorDark;
            }
        }
    }
    .more {
        display: table;
        width: 100%;
        a {
            display: table-cell;
            padding: 20px;
            font-size: 13px;
            width: 50%;
        }
        .main {
            text-align: right;
            color: $primaryColorDark;
            text-transform: uppercase;
        }
    }
}

.categoryList {
    .ant-card {
        margin-top: 20px;
        padding-top: 25px;
    }
    img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .ant-card-meta-title {
        text-align: center;
        color: $secondaryPrimaryColorLight;
    }
}

.contentList {
    .image {
        width: 100%;
    }
}

////////////////////////////////////////////////
///////// ---- нийтлэлийн css ---- /////////////
////////////////////////////////////////////////
.post_card {
    margin-top: 30px;
    width: 100%;
    box-shadow: 0 2px 15px #ddd;
    textarea {
        border: 0;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0 10px;
        width: calc(100% - 20px) !important;
    }
    .container {
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .container>h2 {
        color: #9298A4;
        font-weight: 400;
        letter-spacing: -1px;
        margin: 140px auto 80px;
        padding: 0px;
        text-align: center;
    }
    .container>h2:first-child {
        margin: 40px auto 80px;
    }
    .box {
        background: #FFF;
        border-radius: 4px;
        height: auto;
        margin: 0px auto 0px;
        overflow: hidden;
        padding: 20px 0 0;
        position: relative;
    }
    .box>[class*="box-"] {
        margin: 0 auto;
        padding: 0 30px;
        position: relative;
    }
    .box>[class*="box-"] img {
        display: block;
        width: 100%;
    }
    .box>.box-header {
        margin: 0 auto;
        padding: 0 30px 10px;
        width: initial;
    }
    .box>.box-header>h3 {
        font-size: 15px;
        font-weight: 700;
        height: 60px;
        margin: 5px auto;
        overflow: hidden;
        padding: 5px 0 0;
        position: relative;
    }
    .box>.box-header>h3>a {
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .box>.box-header>h3>span {
        color: #9197A3;
        display: block;
        font-size: 13px;
        font-weight: 400;
        margin-top: 0px;
    }
    .box>.box-header>h3>span .fa {
        font-size: 15px;
        margin-left: 5px;
    }
    .box>.box-header>span {
        background: #F4F4F4;
        border-radius: 3px;
        color: #BCBFC6;
        cursor: pointer;
        font-size: 24px;
        height: 18px;
        line-height: 18px;
        margin: 5px auto 0;
        padding: 3px 4px;
        position: absolute;
        right: 40px;
        top: 0;
    }
    .box>.box-header>span:hover {
        color: #888;
    }
    .box>.box-header>span>i {
        height: 18px;
        line-height: 18px;
    }
    .box>.box-header img {
        border-radius: 100px;
        float: left;
        height: 60px;
        margin: -5px 20px 0 0;
        object-fit: cover;
        width: 60px;
    }
    .box>.box-content {
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: initial;
    }
    .box>.box-content>.content {
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: initial;
    }
    .box>.box-content>.bottom {
        margin: 0 auto;
        padding: 0 30px;
        position: relative;
        width: initial;
    }
    .box>.box-content>.bottom>p {
        color: #71747A;
        font-size: 15px;
        line-height: 20px;
        margin: 0;
        padding: 20px 0;
    }
    .box>.box-content>.bottom>span {
        background: linear-gradient(to top, rgba(0, 0, 0, .45), rgba(0, 0, 0, 0));
        height: 160px;
        left: 0;
        line-height: 160px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        position: absolute;
        text-align: right;
        top: -160px;
        vertical-align: bottom;
        width: 100%;
    }
    .box>.box-content>.bottom>span>span {
        background: rgba(0, 0, 0, .35);
        border-radius: 4px;
        bottom: 0;
        color: #FFF;
        cursor: pointer;
        font-size: 20px;
        margin: 0 30px 25px auto;
        opacity: .75;
        overflow: hidden;
        padding: 10px;
        position: absolute;
        right: 0;
        top: auto;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    .box>.box-content>.bottom>span>span:hover {
        opacity: 1;
    }
}

.post_comment_card {
    .box-likes {
        margin: 0 auto;
        overflow: hidden;
        padding: 0 30px;
        position: relative;
    }
    .box-likes>.row {
        border-top: 1px solid #F4F4F4;
        padding: 20px 0;
    }
    .box-likes>.row>span {
        display: inline-block;
        font-size: 13px;
        margin: 0 2px 0 0;
        position: relative;
        vertical-align: middle;
    }
    .box-likes>.row:first-child {
        float: left;
        width: 60%;
    }
    .box-likes>.row:last-child {
        float: left;
        text-align: end;
        width: 40%;
    }
    .box-likes>.row:first-child>span:nth-child(4) {
        background: #4D679F;
        border-radius: 50px;
        font-weight: bold;
        padding: 0 8px 0 6px;
    }
    .box-likes>.row:first-child>span:nth-child(4)>a {
        color: #FFF;
    }
    .box-likes>.row:first-child>span,
    .box-likes>.row:last-child>span {
        color: #9197A3;
    }
    .box-likes>.row:last-child>span {
        display: inline-block;
        vertical-align: middle;
    }
    .box-likes>.row img {
        border-radius: 100px;
        height: 28px;
        object-fit: cover;
        width: 28px;
    }
    .box-buttons {
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .box-buttons *,
    *::before,
    *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .box-buttons>.row {
        border-bottom: 1px solid #F4F4F4;
        border-top: 1px solid #F4F4F4;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .box-buttons>.row>button:last-child {
        border: 0;
    }
    .box-buttons>.row>button {
        background: #FFF;
        border: 0;
        border-right: 1px solid #F4F4F4;
        color: #9197A3;
        font-size: 13px;
        float: left;
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 0;
        width: 33.33333333333%;
    }
    .box-buttons>.row>button:hover {
        background: #F5F5F5;
        color: #7D8696;
    }
    .box-buttons>.row>button:focus {
        background: #F0F2F2;
        color: #6C7588;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
        outline-color: #08F;
    }
    .box-click {
        background-color: $thirdPrimaryColorLight;
        color: $primaryColor;
        font-size: 13px;
        margin: 0 auto;
        overflow: hidden;
        padding: 10px 30px;
        position: relative;
    }
    .box-click>span {
        cursor: pointer;
    }
    .box-click>span i {
        font-size: 18px;
        margin-right: 5px;
    }
    .box-comments {
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        background-color: $thirdPrimaryColorLight;
    }
    .box-comments>.comment {
        border-top: 1px solid #F4F4F4;
        margin: 0;
        overflow: hidden;
        padding: 16px 30px;
        position: relative;
    }
    .box-comments>.comment>img {
        border-radius: 100px;
        float: left;
        height: 30px;
        margin: 0;
        object-fit: cover;
        width: 30px;
    }
    .box-comments>.comment>.content {
        height: auto;
        line-height: 20px;
        margin: 0 0 0 40px;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: initial;
    }
    .box-comments>.comment>.content>h3 {
        float: left;
        font-size: 14px;
        font-weight: 600;
        margin: 4px auto 0;
        text-transform: capitalize;
        width: 150px;
    }
    .box-comments>.comment>.content>h3>span {
        color: #9197A3;
        display: block;
        font-size: 12px;
        font-weight: 400;
        text-transform: none;
    }
    .box-comments>.comment>.content>p {
        color: #4B4D53;
        font-size: 13px;
        margin: 0;
        padding: 0;
    }
    .box-new-comment {
        background: #9298A4;
        margin: 0;
        overflow: hidden;
        padding: 20px 30px;
        position: relative;
    }
    .box-new-comment>img {
        border-radius: 100px;
        float: left;
        height: 40px;
        margin: 0;
        object-fit: cover;
        width: 40px;
    }
    .box-new-comment>.content {
        border-radius: 20px;
        margin: 4px 0 0 52px;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: initial;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    .box-new-comment>.content>.row {
        background: transparent;
        display: inline-block;
        height: 32px;
        overflow: hidden;
        position: relative;
        vertical-align: middle;
        width: 100%;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    .box-new-comment>.content>.row:last-child {
        color: #C6C9D0;
        font-size: 22px;
        height: 28px;
        line-height: 27px;
        margin: 2px 0;
        position: absolute;
        text-align: center;
        top: 0;
        right: 10px;
        width: 40px;
    }
    .box-new-comment>.content>.row:last-child>span {
        cursor: pointer;
    }
    .box.update,
    .box.text {
        border: 1px solid #E0E1E4;
        box-shadow: none;
        padding: 20px 0 0;
    }
    .box.update>.box-header,
    .box.text>.box-header {
        padding: 0 30px;
    }
    .box.update>.box-header>span,
    .box.text>.box-header>span {
        background: transparent;
        color: #9298A4;
        font-size: 32px;
        margin: -10px auto 0;
    }
    .box-content>.content>p,
    .box.text>.box-content>.content>p {
        border-top: 1px solid #F4F4F4;
        color: #4D5057;
        font-size: 14px;
        line-height: 22px;
        padding: 26px 30px;
    }
    .box-content>.content>.img {
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: initial;
    }
    .box-content>.content>.img:before {
        border: 1px solid rgba(0, 0, 0, .25);
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
    .box.text>.box-buttons>.row>button {
        font-size: 13px;
    }
    .box.text>.box-buttons>.row>button>span {
        font-size: 20px;
    }
}

.post_create_card {
    padding: 20px 0 0;
    .post_form {
        background: $thirdPrimaryColorLight;
    }
    .post_form textarea {
        border: 0;
        font-size: 13px;
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

////////////////////////////////////////////////
//////// ---- хувийн хуудас css ---- ///////////
////////////////////////////////////////////////
.about-info {
    width: 100%;
    .about-title {
        position: relative;
        background-color: gray;
        color: white;
        top: 15px;
        z-index: 50;
        padding: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        button {
            position: absolute;
            right: -20px;
            bottom: 2px;
        }
    }
    .card {
        background: white;
        padding: 20px;
    }
    .thumb {
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        .profile {
            width: 100%;
        }
    }
    .info-block {
        margin-bottom: 5px;
        visibility: visible;
        display: flex;
        .info-icon {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            height: 30px;
            width: 30px;
            background: gray;
            color: white;
            padding-left: 8px;
            border: 1px solid white;
            i {
                line-height: 30px;
                font-size: 15px;
            }
        }
        .info-icon:hover {
            background: white;
            color: gray;
            border: 1px solid gray;
        }
        .info-text {
            padding-left: 5px;
            font-size: 13px;
            text-transform: uppercase;
            span {
                text-transform: lowercase;
                font-size: 10px;
                color: grey;
                display: block;
                .verified {
                    background: green;
                    color: white;
                }
                .no_verified {
                    background-color: red;
                    color: white;
                }
            }
        }
        .info-action {
            display: inline;
            right: 20px;
            position: absolute;
            button {
                background-color: orange;
                border: none;
                color: white;
                border-radius: 5%;
            }
        }
    }
}

.waiting_div {
    margin-top: 20px;
    background: white;
    width: 100%;
    padding: 30px;
    font-size: 15px;
    color: grey;
    font-weight: 600;
    text-align: center;
    img {
        width: 200px;
        height: auto;
    }
    p {
        margin-bottom: 30px;
    }
}

.floating-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.loading_div {
    width: 100%;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    img {
        width: 300px;
    }
}

////////////////////////////////////////////////////
////////////// ---- Front-page ---- ////////////////
////////////////////////////////////////////////////
.help_menu {
    padding-top: 20px;
    text-align: center;
}

.help_menu,
.help_menu small {
    font-size: 13px;
    color: #616770;
}

.help_menu a {
    color: #90949c;
    font-size: 13px;
    display: contents;
}

.sectionheader {
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: $primaryColorLight;
}

.subheadercenter {
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.8px;
    font-weight: 300;
    color: $primaryColorLight;
    z-index: 1;
    margin-bottom: 3rem!important;
}

.partners {
    background-color: $thirdPrimaryColorLight;
    .item {
        padding: 30px;
        width: 15%;
    }
    img {
        width: 90%;
    }
}

.float-add_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px !important;
    height: 60px !important;
    text-align: center;
    z-index: 9;
}

.ant-upload-list-picture-card {
    float: revert !important;
}

.responsive_news {
    img,
    video {
        max-width: 100%;
        vertical-align: middle;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    .cf:after,
    .lab-grid:after {
        content: "";
        display: table;
        clear: both;
    }
    .wrapper {
        width: 100%;
    }
    .lab-theme-light {
        padding-top: 20px;
        color: rgba(0, 0, 0, .75);
    }
    /* Masonry grid */
    .masonry {
        transition: all .5s ease-in-out;
        column-gap: 20px;
        column-fill: initial;
    }
    /* Masonry item */
    .masonry .brick {
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: top;
        background: #fef0e2;
        box-shadow: 0 2px 15px #ddd;
    }
    /* Masonry image effects */
    .masonry .brick img {
        transition: all .5s ease-in-out;
        backface-visibility: hidden;
    }
    .masonry .brick .desc {
        background-color: white;
        padding: 10px;
        display: table;
        width: 100%;
    }
    .masonry .brick .desc .text {
        display: table-cell;
        width: 100%;
    }
    .masonry .brick .desc p {
        color: #d1cabf;
    }
    .masonry .brick .desc a {
        font-size: 15px;
        font-weight: bold;
    }
    .masonry .brick .desc .see {
        display: table-cell;
        color: #d1cabf;
        right: 10px;
    }
    .masonry .brick .desc .see b,
    .masonry .brick .desc .see .anticon {
        display: table-cell;
    }
    .masonry .brick .desc .see b {
        padding-left: 5px;
    }
    .masonry .brick:hover img {
        opacity: .75;
    }
    /* Masonry on tablets */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .masonry {
            column-count: 2;
        }
    }
    /* Masonry on big screens */
    @media only screen and (min-width: 1024px) {
        .masonry {
            column-count: 3;
        }
    }
}