<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_contents" sub_menu="content_authors"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Контентийн сан" sub_menu="Уран бүтээлчид" :sub_menu2="s_id && s_id>0 ? 'Засах' : 'Нэмэх'"></admin-breadcrumb>
            <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <a-form>
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <router-link :to="'/admin_content_authors'">
                                <a-button type="default">Буцах</a-button>
                            </router-link>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            <a-card class="mb-4 w-100" title="Үндсэн мэдээлэл">
                                <img v-if="row.logo && row.id>0" :src="row.logo" style="height: 100px;" />
                                <a-form-item label="лого">
                                    <a-upload @change="CmpLogoChange" :action="siteUrl+'/api/uploadImage'" :remove="CmpLogoRemove" listType="picture-card">
                                        <a-icon :type="loading ? 'loading' : 'plus'" />
                                        <div class="ant-upload-text">Зураг</div>
                                    </a-upload>
                                </a-form-item>
                                <a-form-item label="Нэр">
                                    <a-input placeholder="Кирилл үсгээр бичнэ бичнэ үү ..." v-model="row.full_name" name="full_name" id="full_name" :class="{'was-validated': errors.has('full_name')}" v-validate="{'required':true, 'max':100}" />
                                    <p v-show="errors.has('full_name')" class="text-danger">Заавал бөглөнө!</p>
                                </a-form-item>

                                <a-form-item label="Нэмэлт мэдээ мэдээлэл">
                                    <textarea class="ant-input" v-model="row.desc" />
                                </a-form-item>

                                <div class="form-group">
                                    <label>төрөл</label>
                                    <select class="form-control" v-model="row.author_role">
                                        <option :value="null">---</option>
                                        <option value="дуучин">дуучин</option>
                                        <option value="зохиолч">зохиолч</option>
                                        <option value="яруу найрагч">яруу найрагч</option>
                                        <option value="уран уншигч">уран уншигч</option>
                                    </select>
                                </div>

                                <a-button @click="Submit" type="primary" class="mr-2">Хадгалах</a-button>
                            </a-card>
                        </div>
                    </div>
                </a-form>
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../../components/side";
import adminBreadcrumb from "../../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },

    data: function () {
        return {
            siteUrl: window.surl,
            fetched: false,
            s_id: null,
            url: "/admin_content_authors",
            images: [],
            row: {
                id: null,
                logo: null,
                full_name: "",
                author_role: null,
                desc: ""
            },
        };
    },
    created: function () {
        this.get();
    },
    methods: {
        CmpLogoChange(info) {
            if (info.file.status === "done") {
                this.images.push(info.file.response);
            }
        },

        CmpLogoRemove(file) {
            const index = this.images.indexOf(file);
            const i = this.images.slice();
            i.splice(index, 1);
            this.images = i;
        },

        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id && this.s_id > 0) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.fetched = true;
            }
        },

        Submit: function () {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$nprogress.start();
                    this.row.logo = this.images.length > 0 ? this.images[0].url : this.row.logo;
                    let formData = new FormData();
                    formData.append("data", JSON.stringify(this.row));
                    axios.post(this.url, formData).then(response => {
                        this.$nprogress.done();
                        if (response && response.data && response.data.is_done) {
                            this.$notification["success"]({
                                message: "Амжилттай хадгаллаа",
                            });
                            this.$router.push({
                                path: "/admin_content_authors"
                            });
                        } else {
                            response.data.error.forEach(i => this.$notification["warning"]({
                                message: i
                            }));
                        }
                    });
                }
            });
        },
    },
};
</script>
