<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="admin_contents" sub_menu="content_authors"></admin-side-bar>
        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Контентийн сан" sub_menu="Уран бүтээлчид" sub_menu2="Дэлгэрэнгүй"></admin-breadcrumb>
            <a-layout-content v-if="fetched && row" :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <router-link :to="'/admin_content_authors'">
                            <a-button type="default">Буцах</a-button>
                        </router-link>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12">
                        <a-card class="mb-4 w-100" v-if="row" title="Уран бүтээлчид">
                            <authors :content="row"></authors>
                        </a-card>

                        <a-card class="mb-4 w-100" title="Үндсэн мэдээлэл">
                            <a-form-item label="Нэр" />
                            <h6> {{row && row.full_name ? row.full_name : '------'}}</h6>
                            <a-form-item label="Төрөл" />
                            <p> {{row && row.author_role ? row.author_role : '------'}}</p>
                            <a-form-item label="Нэмэлт мэдээлэл" />
                            <p> {{row && row.desc ? row.desc : '------'}}</p>
                            <a-form-item label="Лого" />
                            <img v-if="row.logo && row.id>0" :src="row.logo" style="height: 100px;" />
                        </a-card>
                    </div>
                </div>
            </a-layout-content>
            <a-layout-content v-else>
                Мэдээлэл устгагдсан байна ...
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../../components/side";
import adminBreadcrumb from "../../components/breadcrumb"
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },
    data: function () {
        return {
            s_id: null,
            url: "/admin_content_authors",
            row: null,
            fetched: false,
        };
    },
    created: function () {
        this.get();
    },
    methods: {
        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.fetched = true;
            }
        },
    },
}
</script>
