<template>
<div>
    <a-upload class v-decorator="['upload']" name="file" :showUploadList="false" action="/api/uploadFile" @change="handleFileChange">
        <a-button type="primary" v-if="file">
            <a-icon type="upload" />
            {{file.name}}
        </a-button>
        <div v-else>
            <a-button type="dashed">
                <a-icon type="upload" />Click to Upload
            </a-button>
        </div>
    </a-upload>
</div>
</template>

<script>
export default {
    name: "UploadFile",
    props: ["file"],
    data: function () {
        return {
            loading: false
        };
    },
    methods: {
        handleFileChange(info) {
            if (info.file.status === "uploading") {
                this.loading = true;
                return;
            }
            if (info.file.status === "done") {
                this.$emit("uploadFile", info.file.response);
                this.loading = false;
            }
        }
    }
};
</script>
