<template>
<div>
    <a-upload class="" v-decorator="['upload']" name="image" :showUploadList="false" action="/api/uploadImage" list-type="picture-card" @change="handleImageChange">
        <img v-if="image" :src="image.replace('images/','small/')" alt="avatar" />
        <div v-else>
            <a-icon :type="loading ? 'loading' : 'plus'" />
            <div class="ant-upload-text">Upload</div>
        </div>
    </a-upload>
</div>
</template>

<script>
export default {
    name: 'uploadImage',
    props: ['image'],
    data: function () {
        return {
            loading: false,
        }
    },
    methods: {
        handleImageChange(info) {
            if (info.file.status === 'uploading') {
                this.loading = true
                return
            }
            if (info.file.status === 'done') {
                this.$emit('uploadImage', info.file.response.url)
                this.loading = false
            }
        },
    },
}
</script>
