<template>
<div class="mb-3 box-shadow">
  <div class="card mb-0 user_approve">
    <div class="post-title d-flex align-items-center">
      <div class="profile-thumb">
        <figure>
          <img :src="user.profile==null ? 'style/images/profile/user.png' : 'style/images/profile/user.png'" alt="profile">
        </figure>
      </div>
      <div class="user">
        <h6 class="name">{{user.lastname}} {{user.firstname}}</h6>
        <span class="time">бүртгэл үүсгэсэн: {{user.created_at ? dt(user.created_at) : ''}}</span>
        <p class="team"> {{user.team.name}}</p>
        <p class="user_type"> {{user.user_type.name}}</p>
      </div>

      <div class="action" v-if="isShowAction==1">
        <button class="submit-btn" style="padding: 10px 15px; background: #28a745" @click="approve(user.id,1)">✓ ЗӨВШӨӨРӨХ</button>
        <button class="submit-btn" style="padding: 10px 15px; background: #f5222d" @click="approve(user.id,0)"> ЦУЦЛАХ</button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import ekvdate from '../../utils/helper';
export default {
  name: "UserBox",
  props: ["user", "typeName"],
  data: function () {
    return {
      loading: false,
      processing: false,
      isShowAction: 1,
    };
  },
  computed: {
    dt: () => {
      return etime => ekvdate().fromNow(etime)
    },
  },

  methods: {
    approve(user_id, status) {
      if (this.processing === true) {
        return;
      }
      this.processing = true;
      this.$nprogress.start();
      axios.post('/userApprove', {
        user_id,
        status
      }).then(response => {
        if (response.data.status == 0) {
          this.$notification["success"]({
            message: "Амжилттай",
            description: response.data.message
          });
          this.processing = false;
          this.$nprogress.done();
          this.isShowAction = 0;
          return;
        } else {
          this.$notification["warning"]({
            message: "Хүсэлтийг биелүүлэхэд алдаа гарлаа",
            description: response.data.message
          });
          this.processing = false;
          this.$nprogress.done();
          return;
        }
      });
    },
  }
};
</script>
