<template>
<div class="top_menu">


    <div class="info_div">
    <a href="/#/home" class="logo">
        <img src="/logo.png" />
    </a>
        <template v-if="$store.getters.authUser">
            <a-dropdown>
                <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                    Сайнуу, {{$store.getters.authUser.firstname}}
                    <a-icon type="down" />
                </a>
                <a-menu slot="overlay">
                    <a-menu-item>
                        <router-link to="/i">
                            <i class="fa fa-user"></i> Миний профайл
                        </router-link>
                    </a-menu-item>

                    <a-menu-item>
                        <router-link to="/about_us">
                            <i class="fa fa-eject"></i> Бидний тухай
                        </router-link>
                    </a-menu-item>

                    <a-menu-item>
                        <router-link to="/terms">
                            <i class="fa fa-shield"></i> Үйлчилгээ нөхцөл
                        </router-link>
                    </a-menu-item>

                    <a-menu-item>
                        <router-link to="/faqs">
                            <i class="fa fa-question"></i> Түгээмэл асуулт хариулт
                        </router-link>
                    </a-menu-item>

                    <a-menu-item>
                        <router-link to="/contact">
                            <i class="fa fa-address-book"></i> Холбоо барих
                        </router-link>
                    </a-menu-item>

                    <a-menu-item v-if="$store.getters.authUser.isSuperAdmin">
                        <router-link to="/admins">
                            <i class="fa fa-address-book"></i> Админ
                        </router-link>
                    </a-menu-item>

                    <a-menu-item>
                        <a href="javascript: void(0);" @click="logout">
                            <i class="flaticon-unlock"></i> Гарах
                        </a>
                    </a-menu-item>
                </a-menu>
            </a-dropdown>
        </template>
        <a v-if="!$store.getters.authUser" href="/#/login">Нэвтрэх</a>
    </div>

    <a-menu v-if="menu" v-model="current" mode="horizontal">
        <a-menu-item key="home">
            <a href="/#/home">
                <a-icon type="home" /> Эхлэл</a> </a-menu-item>

        <template v-for="m in menu">
            <template v-if="m.children.length == 0">
                <a-menu-item :key="'' + m.id + ''">
                    <a :href="'/#/contents/'+m.id" :key="m.id">
                        <a-icon :type="m.mainMenuIcon" />{{m.name}}</a> </a-menu-item>
            </template>
            <template v-else>
                <a-sub-menu :key="'' + m.id + ''">
                    <span slot="title" class="submenu-title-wrapper">
                        <a-icon :type="m.mainMenuIcon" />{{m.name}}</span>
                    <a-menu-item-group title="">
                        <a-menu-item v-for="s in m.children" :key="'' + s.id + ''">
                            <a :href="'/#/contents/'+s.id" :key="s.id">{{s.name}}</a>
                        </a-menu-item>
                    </a-menu-item-group>
                </a-sub-menu>
            </template>
        </template>
    </a-menu>
</div>
</template>

<script>
export default {
    data() {
        return {
            siteUrl: window.surl,
            mpVisible: false,
            processing: false,
            search: "",
            mobileSearch: false,
            a: false,
            menu: false,
            current: ['home'],
        };
    },

    watch: {
        "$route.params.category_id": {
            handler: function (category_id) {
                this.current = [];
                this.current.push(category_id ? '' + category_id + '' : 'home');
            },
            deep: true,
            immediate: true,
        },
    },

    created: function () {
        this.getMenu();
    },
    methods: {
        getMenu() {
            axios.get("/menu").then(response => {
                this.menu = response.data.data;
            });
        },
        async logout() {
            await this.$store.dispatch("logout");
            this.$router.push({
                path: "/login"
            });
        }
    }
};
</script>
