<template>
<a-layout id="components-layout-demo-top-side-2">
    <admin-side-bar menu="settings" sub_menu="admin_banners"></admin-side-bar>

    <a-layout style="padding: 0 24px 24px">
        <admin-breadcrumb menu="Тохиргоо" sub_menu="Баннер" :sub_menu2="s_id ? 'Засах' : 'Нэмэх'"></admin-breadcrumb>

        <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
            <a-form>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a-card class="mb-4 w-100 жүц" title="Түлхүүр үг">


                            <a-form-item label="Баннерний төрөл" class="col-m-4">
                                <a-radio-group v-model="row.type" button-style="solid">
                                    <a-radio-button value="main">Нүүр хуудас</a-radio-button>
                                    <a-radio-button value="content">Контент</a-radio-button>
                                    <a-radio-button value="news">Мэдээ мэдээлэл</a-radio-button>
                                </a-radio-group>
                            </a-form-item>
                            <br/>

                            <a-form-item label="зураг/лого">
                                <div class="row">
                                    <div class="col-md-3" v-if="row.image && row.id>0">
                                        <img :src="row.image" style="height: 100px;" />
                                    </div>

                                    <div class="col-md-9">
                                        <a-upload @change="CmpLogoChange" :action="siteUrl+'/api/uploadImage'" :remove="CmpLogoRemove" listType="picture-card">
                                            <a-icon :type="loading ? 'loading' : 'plus'" />
                                            <div class="ant-upload-text">Зураг</div>
                                        </a-upload>
                                    </div>
                                </div>
                            </a-form-item>

                            <a-form-item label="Гарчиг" class="col-m-4">
                                <a-input v-model="row.title" name="title" id="title" />
                            </a-form-item>

                            <a-form-item label="Гарчиг 2" class="col-m-4">
                                <a-input v-model="row.title2" name="title2" id="title2"/>
                            </a-form-item>

                            <a-form-item label="Холбоос" class="col-m-4">
                                <a-input v-model="row.link" name="link" id="link" />
                            </a-form-item>

                            <a-form-item label="Төлөв" class="col-m-4">
                                <a-radio-group v-model="row.is_active" button-style="solid">
                                    <a-radio-button value="1">Идэвхитэй</a-radio-button>
                                    <a-radio-button value="0">Идэвхигүй</a-radio-button>
                                </a-radio-group>
                            </a-form-item>

                        </a-card>
                    </div>
                </div>
                <div class="form-actions">
                    <router-link :to="'/admin_settings'">
                        <a-button type="default">Буцах</a-button>
                    </router-link>
                    <a-button @click="groupSubmit" type="primary" class="mr-2">Хадгалах</a-button>
                </div>
            </a-form>
        </a-layout-content>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
import moment from 'moment';
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },

    data: function () {
        return {
            siteUrl: window.surl,
            fetched: false,
            s_id: null,
            url: "/admin_banners",
            row: {
                id: null,
                image: null,
                title: null,
                title2: null,
                link: null,
                is_active: '1',
                type: 'main'
            },
            images: [],
        };
    },
    created: function () {
        this.get();
    },
    methods: {
        CmpLogoChange(info) {
            if (info.file.status === "done") {
                this.images.push(info.file.response);
            }
        },

        CmpLogoRemove(file) {
            const index = this.images.indexOf(file);
            const i = this.images.slice();
            i.splice(index, 1);
            this.images = i;
        },

        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.fetched = true;
            }
        },

        groupSubmit: function () {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.$nprogress.start();
                    let formData = new FormData();
                    this.row.image = this.images.length > 0 ? this.images[0].url : this.row.image;
                    formData.append("data", JSON.stringify(this.row));
                    axios.post(this.url, formData).then(response => {
                        this.$nprogress.done();
                        if (response && response.data && response.data.is_done) {
                            this.$notification["success"]({
                                message: "Амжилттай хадгаллаа",
                            });
                            this.$router.push({
                                path: "/admin_banners"
                            });
                        } else {
                            response.data.error.forEach(i => this.$notification["warning"]({
                                message: i
                            }));
                        }
                    });
                }
            });
        },
    },
};
</script>
