<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="settings" sub_menu="admin_banners"></admin-side-bar>

        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Тохиргоо" sub_menu="Баннер" sub_menu2=""></admin-breadcrumb>
            <router-link v-if="$store.getters.authUser.isSuperAdmin" to='/admin_banner_add'>
                <a-button type="success" class="float-add_button" shape="circle" size="large">
                    <a-icon type="plus" />
                </a-button>
            </router-link>

            <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <v-server-table ref="tableni" :url="url" :columns="columns" :options="options">
                   
                   <div slot="image" slot-scope="props" class="text-center" style="width:auto;">
                        <img  :src="props.row.image ? props.row.image : '/noimage.png'" style="width: 40px; height: 40px"/>
                    </div>
                    
                    <div slot="action" slot-scope="props" class="text-center" style="width:120px;">
                        <router-link :to="'/admin_banner/'+props.row.id">
                            <a-button type="success" size="small" icon="eye" />
                        </router-link>
                        <router-link :to="'/admin_banner/edit/'+props.row.id">
                            <a-button type="info" size="small" icon="edit" />
                        </router-link>
                        <a-popconfirm :title="props.row.name + ' устгах уу?'" placement="topRight" okText="Тийм" cancelText="Үгүй" @confirm="deleteData(props.row.id)">
                            <a-icon slot="icon" type="question-circle-o" style="color: red" />
                            <a-button type="danger" icon="delete" size="small"></a-button>
                        </a-popconfirm>
                    </div>
                </v-server-table>
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },
    data: function () {
        return {
            siteUrl: window.surl,
            url: "/admin_banners",
            fetched: false,
            is_loading: false,
            fetched_membership_types: false,
            membership_types: [],
            columns: [
                'id',
                'type',
                'image',
                'title',
                'title2',
                'link',
                'is_active',
                'created_at',
                "action"
            ],
            options: {
                perPage: 20,
                perPageValues: [20, 50],
                pagetitle: "Файлын сан",
                headings: {
                    id: "UID",
                    type: 'Төрөл',
                    image: 'ЛОГО',
                    title: "Гарчиг",
                    title2: "Гарчиг2",
                    link: "Холбоос",
                    is_active: "Идэвхитэй эсэх",
                    created_at: "Бүртгэсэн",
                    action: "Үйлдэл"
                },
                filterByColumn: true,
                sortable: [],
                filterable: [
                    "id",
                    'title',
                    'title2',
                    'link',
                    'created_at',
                ],
                sortIcon: {
                    base: "fas",
                    up: "fa-sort-up",
                    down: "fa-sort-down",
                    is: "fa-sort"
                },
                listColumns: {},
                texts: {
                    noResults: "Хоосон байна...",
                    filterBy: "Хайх",
                    loading: "Уншиж байна...",
                    defaultOption: "Бүгд",
                },
                templates: {},

                rowClassCallback: function (row) {
                    if (row.admin_id === 0) {
                        return "has-text-link";
                    }
                },
                requestFunction: function (data) {
                    return axios
                        .get(this.url, {
                            params: data
                        })
                        .catch(
                            function (e) {
                                this.dispatch("error", e);
                            }.bind(this)
                        );
                },
                responseAdapter({
                    data
                }) {
                    return {
                        data: data.data.data,
                        count: data.data.total
                    };
                }
            },
            visible: false,
            form: this.$form.createForm(this),
            fd: {
                id: 0,
                membership_type_id: 0,
                is_membership: false,
                membership_cif: ""
            }
        };
    },
    created: function () {},
    methods: {
        deleteData: function (id) {
            this.$nprogress.start()
            axios.delete(this.url + '/' + id).then((response) => {
                this.$refs.tableni.refresh();
                this.$notification['success']({
                    message: 'Мэдээллийг устгаллаа'
                });
                this.$nprogress.done()
            })
        },
    }
};
</script>
