<template>
<a-layout id="components-layout-demo-top-side-2">
    <a-layout>
        <admin-side-bar menu="settings" sub_menu="admin_banners"></admin-side-bar>

        <a-layout style="padding: 0 24px 24px">
            <admin-breadcrumb menu="Тохиргоо" sub_menu="Баннер" sub_menu2="Дэлгэрэнгүй"></admin-breadcrumb>
            <a-layout-content v-if="fetched" :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '280px' }">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <a-card class="mb-4 w-100" :title="row.key_word">

                            <a-form-item label="UID" />

                            <h6> {{row.id}}</h6>

                            <a-form-item label="Гарчиг" />
                            <h6> {{row.title}}</h6>
                            <a-form-item label="Гарчиг 2" />
                            <h6> {{row.title2}}</h6>
                            <a-form-item label="Холбоос" />
                            <h6> {{row.link}}</h6>

                            <a-form-item label="Төлөв" />
                            <h6> {{row.is_active}}</h6>

                            <a-form-item label="Бүртгэсэн огноо" />
                            <h6> {{row.created_at}}</h6>

                        </a-card>

                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <img v-if="row.image && row.id>0" :src="row.image" style="width: 100%" />
                    </div>
                </div>
                    <div class="form-actions">
                        <router-link :to="'/admin_banners'">
                            <a-button type="default">Буцах</a-button>
                        </router-link>
                    </div>
            </a-layout-content>
            <a-layout-content v-else>
                Мэдээлэл устгагдсан байна ...
            </a-layout-content>
        </a-layout>
    </a-layout>
</a-layout>
</template>

<script>
import adminSideBar from "../components/side";
import adminBreadcrumb from "../components/breadcrumb";
export default {
    components: {
        adminSideBar,
        adminBreadcrumb
    },
    data: function () {
        return {
            s_id: null,
            url: "/admin_banners",
            row: null,
            fetched: false,
        };
    },
    created: function () {
        this.get();
    },
    methods: {
        get() {
            this.s_id = this.$route.params.id ? this.$route.params.id : null;
            if (this.s_id) {
                axios.get(this.url + '/' + this.s_id).then(re => {
                    this.row = re.data.data;
                    this.fetched = true;
                });
            } else {
                this.fetched = true;
            }
        },
    },
}
</script>
