<template>
<div class="post_card">
    <section v-if="content">
        <div class="container">
            <div class="box update">
                <div class="box-header">
                    <h3>
                        <img :src="content.user.avatar" alt="" v-if="content.user" />
                        {{content.user ? content.user.firstname + " " + content.user.lastname : ""}}
                    </h3>
                </div>

                <div class="box-content">
                    <div class="content" style="padding: 20px">
                        <template v-if="content.files">
                            <files :content="content" :single="single"></files>
                        </template>

                        <p>{{content.desc}}</p>
                    </div>
                </div>
            </div>
            <comments @refresh="refresh($event)" :content="content" :single="single"></comments>
        </div>
    </section>
</div>
</template>

<script>
import files from "./files";
import Comments from "./comments";
export default {
    name: "Box",
    props: ["content", "single", 'is_show_comment'],
    components: {
        Comments,
        files
    },
    data: function () {
        return {
            loading: false
        };
    },

    methods: {
        refresh(e) {
            if (e) {
                axios.get("/posts/" + e.content.id).then(r => {
                    this.content = r.data.data;
                });
            }
        },

        access(access) {
            if (access == 'main_group') {
                return 'team';
            }
            return 'global';
        }
    }
};
</script>
