<template>
<div class="mb-3">
  <div class="mb-0">
    <div class="post-title d-flex align-items-center">
      <div class="profile-thumb">
        <figure class="profile-thumb-middle"><img :src="content.user.profile==null ? '/user.png' : content.user.profile" alt="profile picture"></figure>
      </div>
      <div class="posted-author">
        <h6 class="author">{{content.user.lastname}} {{content.user.firstname}}</h6>
        <router-link :to="'/content/'+content.id"><span class="post-time">{{content.created_at ? content.created_at : ''}}</span></router-link>
      </div>
    </div>
    <div class="post-content" style="text-align:justify">{{content.desc ? content.desc.substring(0, 40) : ""}}</div>
    <!-- <div v-if="content.is_news=='news'" class="post-content" style="text-align:justify">{{content.html_desc ? content.title.substring(0, 40) : ""}}</div> -->
  </div>
</div>
</template>

<script>
import ekvdate from '../../utils/helper';
export default {
  name: "CardItem",
  props: ["content"],
  data: function () {
    return {
      loading: false,
      Content: [],
    };
  },
  computed: {
    dt: () => {
      return etime => ekvdate().fromNow(etime)
    }
  },

  methods: {

  }
};
</script>
