<template>
<div class="post_comment_card">
    <div class="box-buttons">
        <div class="row">
            <button @click="() => action('see', content.id)"> {{content.see}} харсан</button>
            <button @click="() => action('like', content.id)">{{content.like}} таалагдсан</button>
            <button v-if="content.comments"> {{content.comments.length}} сэтгэгдэл</button>
        </div>
    </div>

    <div class="box-comments">
        <template v-for="(comment,j) in content.comments">
            <div class="comment" :key="content.id + '_'+ comment.id + '_'+ j">
                <img :src="comment.avatar" alt="" />
                <div class="content">
                    <h3>{{comment.lastname ? comment.lastname : "тодорхойгүй хэрэглэгч"}} {{comment.firstname ? comment.firstname : ""}}<span><time> {{comment.created_at ? dt(comment.created_at) : ''}} - </time>
                    <!-- <a href="#">Like</a> -->
                    </span>
                    </h3>
                    <br/><br/>
                    <p>{{comment.comment}}</p>
                </div>
            </div>
        </template>
    </div>

    <div class="share-box-inner bg-white p-3">
        <div class="share-content-box w-100">
            <form class="share-text-box">
                <textarea-autosize class="form-control mb-3" :maxlength="max" placeholder="Сэтгэгдэл үлдээнэ үү..." v-model="com.comment" :min-height="50" />
                <template v-if="com.comment.length>=1">
                    <a-button :loading="loading" @click="AddComment()" type="primary pull-right">Илгээх</a-button>
                    <a-button type="info" shape="circle" v-text="(max - com.comment.length)" diabled></a-button>
                </template>
            </form>
        </div>
    </div>
</div>
</template>

<script>
import ekvdate from "../../utils/helper";
export default {
    name: "comments",
    props: ["content", "single"],
    data: function () {
        return {
            max: 150,
            loading: false,
            com: {
                post_id: this.content.id,
                comment: "",
                like_count: 0
            }
        };
    },

    computed: {
        dt: () => {
            return etime => ekvdate().fromNow(etime);
        }
    },
    methods: {
        action(type, id) {
            if (this.loading == false) {
                this.loading = true;
            } else {
                return;
            }
            axios.get("/post_action/" + type + "/" + id).then(response => {
                if (response && response.data && response.data.is_done) {
                    this.$emit("refresh", {
                        content: this.content,
                        index: this.index
                    });
                    this.loading = false;
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: response.data.message
                    });
                }
            });
        },

        AddComment() {
            if (this.loading == false) {
                this.loading = true;
            } else {
                return;
            }
            let formData = new FormData();
            formData.append("data", JSON.stringify(this.com));

            axios.post("/post_comments", formData).then(response => {
                if (response && response.data && response.data.is_done) {
                    this.com = {
                        post_id: this.content.id,
                        comment: "",
                        like_count: 0
                    };
                    this.$emit("refresh", {
                        content: this.content,
                        index: this.index
                    });
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: response.data.message
                    });

                }
                this.loading = false;
            });
        }
    }
};
</script>

<style scoped>
.comment-list {
    margin-left: 15px;
    background-color: #f5f6f7 !important;
    border-radius: 18px;
    padding: 10px;
    box-sizing: border-box;
    color: #1c1e21;
    display: inline-block;
    line-height: 16px;
    margin: 0;
    max-width: 96%;
    word-wrap: break-word;
    left: 15px;
    position: relative;
    white-space: normal;
    word-break: break-word;
}
</style>
