<template>
<div>
  <template v-for="c in datas">
    <div class="row" :key="c.id">
      <content-box :content="c" :single="false"></content-box>
    </div>
  </template>
</div>
</template>

<script>
import ContentBox from "./ContentBox";
export default {
  name: "ContentArray",
  props: ["datas", "title"],
  components: {
    ContentBox
  },
  data: function () {
    return {
      isLoading: false,
    };
  },

  methods: {}
};
</script>
