<template>
<div class="post_create_card">
    <form class="post_form">
        <textarea @click="showModal()" class="share-text-field" placeholder="Та бусадтайгаа хуваалцах контент байвал энд оруулна уу"></textarea>
    </form>

    <a-modal v-if="row" title="Контент" width="610px" :visible="visible" class="col-md-12">
        <textarea class="form-control mb-3" placeholder="Та бусадтайгаа хуваалцах контент байвал энд оруулна уу" v-model="row.desc" :maxlength="max" />

        <a-upload @change="onSave" :action="siteUrl+'/api/uploadImage'" :remove="handle" listType="picture-card">
            <a-icon :type="loading ? 'loading' : 'plus'" />
            <div class="ant-upload-text">Зураг</div>
        </a-upload>

        <template slot="footer">
            <a-button key="back" @click="onCancelModal" style="background: red; border:none; color: white">Болих</a-button>
            <a-button key="submit" type="primary" @click="create" style="background: green; border:none">Хуваалцах</a-button>
        </template>
    </a-modal>
</div>
</template>

<script>
export default {
    name: "Create",
    data: function () {
        return {
            max: 200,
            visible: false,
            siteUrl: window.surl,
            loading: false,
            headers: {
                authorization: 'authorization-text',
            },
            row: null
        };
    },
    methods: {
        onCancelModal() {
            this.visible = false;
            this.row = null;
        },
        showModal() {
            this.row = {
                post_type: "post",
                desc: "",
                images: [],
            };
            this.visible = true;
        },

        onSave(info) {
            if (info.file.status === 'done') {
                this.row.images.push(info.file.response);
            }
        },

        handle(file) {
            const index = this.row.images.indexOf(file);
            const i = this.row.images.slice();
            i.splice(index, 1);
            this.row.images = i;
        },

        create() {
            this.$nprogress.start();
            let formData = new FormData();
            formData.append("data", JSON.stringify(this.row));

            axios.post("/posts", formData).then(response => {
                this.$nprogress.done();
                if (response && response.data && response.data.is_done) {
                    this.$notification["success"]({
                        message: "Амжилттай нэмэгдлээ"
                    });
                    location.reload();
                } else {
                    this.$notification["warning"]({
                        message: "Алдаа",
                        description: response.data.message
                    });
                }
            });
        }
    }
};
</script>
