<template>
<div v-if="content && content.files">
    <a-carousel arrows autoplay>
        <div slot="prevArrow" class="custom-slick-arrow" style="left: 20px; zIndex: 2">
            <a-icon type="left-circle" />
        </div>
        <div slot="nextArrow" class="custom-slick-arrow" style="right: 20px">
            <a-icon type="right-circle" />
        </div>
        <template v-for="i in content.files">
            <div v-if="i.access == 'image'" :key="i.id">
                <img :src="i.uri" />
            </div>
        </template>
    </a-carousel>
    <!-- {{content.files}} -->
    <template v-for="(i,j) in content.files">
        <div v-if="i.access == 'file'" :key="i.id" class="download">
            <a-button :href="i.uri" class="download-button" icon="download" download>{{content.desc}} {{j+1}}</a-button>
        </div>
    </template>
</div>
</template>

<script>
export default {
    name: "Files",
    props: ["content", "single"],
    data: function () {
        return {
            loading: false
        };
    },

    methods: {}
}
</script>

<style scoped>
.download{
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
}
.download-button{
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
}
.post-carousel>>>.slick-slide {
    text-align: center;
    height: auto;
    line-height: auto;
    background: #364d79;
    overflow: hidden;
    width: 100%;
}

.post-carousel>>>.slick-slide img {
    width: 100%;
    height: auto;
}

.ant-carousel>>>.custom-slick-arrow {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: orange;
    /* opacity: 0.2; */
}

.ant-carousel>>>.custom-slick-arrow:before {
    display: none;
}

.ant-carousel>>>.custom-slick-arrow:hover {
    opacity: 0.5;
}
</style>
