<template>
<div class="container">
    <div class="row">
        <banners type='content' />
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-sm-12 col-md-9" style="padding-left: 0px">
            <div class="row">
                <template v-if="contents">
                    <template v-for="c in contents">
                        <single-content :row="c" :key="content_type_id + '_sub_item_'+c.id"></single-content>
                    </template>
                </template>
                <div v-else class="col-md-12">
                    <div class="waiting_div" style="min-height: 400px;">
                        <img src="/loading.gif" />
                        <p style="text-align: center"> Уншиж байна ... </p>
                    </div>
                </div>
            </div>

            <scroll-loader :loader-method="getContents" :loader-disable="contents_loading">
                <a-icon type="loading" style="color:#fe6400" />
            </scroll-loader>
        </div>
        <div class="col-md-3">
            <template v-if="categories">
                <template v-for="c in categories">
                    <category :row="c" :key="c.id"></category>
                </template>
            </template>
        </div>
    </div>
</div>
</template>

<script>
import Banners from "../../components/Public/Banners";
import Category from "../../components/Content/Category";
import SingleContent from "../../components/Content/Content";
export default {
    name: "Contents",
    components: {
        Banners,
        Category,
        SingleContent
    },

    data: function () {
        return {
            uri_types: 'content_types',
            uri: 'contents',
            categories: [],
            contents_loading: null,
            contents: null,
            content_type_id: null,
            page: 1,
        };
    },

    watch: {
        "$route.params.category_id": {
            handler: function (category_id) {
                if (this.content_type_id == null || this.content_type_id != category_id) {
                    this.content_type_id = category_id;
                    this.page = 0;
                    this.contents = [];
                    this.contents_loading = null;
                    this.getContents();

                }
            },
        },
    },

    created() {
        this.get();
    },

    methods: {
        get() {
            axios.get(this.uri_types).then(r => {
                this.categories = r.data.data;
            });
        },
        getContents() {
            axios
                .get(this.uri, {
                    params: {
                        page: this.page++,
                        type_id: this.$route.params.category_id ? this.$route.params.category_id : this.content_type_id,
                        type_content: 'content'
                    }
                })
                .then(r => {

                    if (r.data.data.length == 0) {
                        this.contents_loading = true;
                        if (this.contents == null) {
                            this.contents = [];
                        }
                    } else {
                        this.contents = this.contents == null ? r.data.data : [...this.contents, ...r.data.data];
                    }
                });
        }
    }
};
</script>
