<template>
<div class="container">
    <div class="row" v-if="row" style="background: white; padding: 30px; padding-top: 50px;">
        <div class="col-sm-12 col-md-6">
            <img :src="row.logo ? row.logo : '/no_image.png'" style="width: 100%">
        </div>
        <div class="col-sm-12 col-md-6">
            <h4>{{row.title}}</h4>
            <a-tag v-for="r in row.types" :key="row.id+ 'tags_'+r.id" :color="r.color" style="color: black">
                {{r.name}}
            </a-tag>
             <a-tag v-for="r in row.authors" :key="row.id+ 'tags_'+r.id" color="#fef0e2" style="color: black">
                {{r.full_name}}
            </a-tag>
            <br /><br />
            <i>{{row.created_at}}    (<a-icon type="eye" /> {{row.see}})</i>
            <br />
            <!-- {{Date.parse($store.getters.authUser.end_at)}}<br/>
            {{Date.parse(new Date())}}<br/>
            check value: {{Date.parse($store.getters.authUser.end_at) > Date.parse(new Date())}} -->

            <p style="padding-top: 20px" v-html="row.desc" v-if="Date.parse($store.getters.authUser.end_at) > Date.parse(new Date())"></p>
            <p style="padding-top: 20px" v-else>{{row.short_desc}}</p>
        </div>
    </div>
    <div v-else class="col-md-12">
        <div class="waiting_div" style="min-height: 400px;">
            <img src="/loading.gif" />
            <p style="text-align: center"> Уншиж байна ... </p>
        </div>
    </div>
</div>
</template>

<script>
import moment from 'moment';
export default {
    name: "Content",
    data: function () {
        return {
            loading: false,
            m_id: this.$route.params.id,
            row: false
        };
    },
    created: function () {
        this.getContent();
    },

    methods: {
        getContent() {
            if (!this.m_id || this.m_id == 0) {
                this.$router.push({
                    path: "/contents"
                });
            }

            axios.get("/contents/" + this.$route.params.id).then(response => {
                this.row = response.data.data;
            });
        }
    }
};
</script>
