<template>
<div>
  <a-breadcrumb style="margin: 16px 0">
    <a-breadcrumb-item v-if="menu">{{menu}}</a-breadcrumb-item>
    <a-breadcrumb-item v-if="sub_menu">{{sub_menu}}</a-breadcrumb-item>
    <a-breadcrumb-item v-if="sub_menu2">{{sub_menu2}}</a-breadcrumb-item>
  </a-breadcrumb>

</div>
</template>

<script>
export default {
  name: "adminBreadcrumb",
  props: ["menu", "sub_menu", "sub_menu2"],
}
</script>
