<template>
<a-layout-sider width="200" style="background: #fff">
    <a-menu mode="inline" :default-selected-keys="[sub_menu]" :default-open-keys="[menu]" :style="{ height: '100%', borderRight: 0 }">
        <a-menu-item key="home">
            <router-link to='/admins'>
                <a-icon type="dashboard" /> Дашбоард </router-link>
        </a-menu-item>

        <a-sub-menu key="admin_companies">
            <span slot="title">
                <a-icon type="laptop" />Байгууллага</span>

            <a-menu-item key="/types">
                <router-link to='/admin_company_types'>Ангилал</router-link>
            </a-menu-item>
            <a-menu-item key="/companies">
                <router-link to='/admin_companies'>Байгууллага </router-link>
            </a-menu-item>
        </a-sub-menu>

        <a-sub-menu key="admin_contents">
            <span slot="title">
                <a-icon type="home" />Контентийн сан</span>

            <a-menu-item key="content_types">
                <router-link to='/admin_content_types'> Ангилал </router-link>
            </a-menu-item>

            <a-menu-item key="content_authors">
                <router-link to='/admin_content_authors'>Уран бүтээлч </router-link>
            </a-menu-item>

            <a-menu-item key="contents">
                <router-link to='/admin_contents'>Контент </router-link>
            </a-menu-item>
        </a-sub-menu>

        <a-sub-menu key="admin_users">
            <span slot="title">
                <a-icon type="user" />Хэрэглэгч</span>
            <a-menu-item key="admin_users">
                <router-link to='/admin_users'>Хэрэглэгч </router-link>
            </a-menu-item>

        </a-sub-menu>

        

        <a-sub-menu key="settings">
            <span slot="title">
                <a-icon type="setting" />Тохиргоо</span>
            <a-menu-item key="admin_settings">
                <router-link to='/admin_settings'>Түлхүүр үг </router-link>
            </a-menu-item>
            <a-menu-item key="admin_banners">
                <router-link to='/admin_banners'>Баннер </router-link>
            </a-menu-item>
        </a-sub-menu>
    </a-menu>
</a-layout-sider>
</template>

<script>
export default {
    name: "adminSideBar",
    props: ["menu", "sub_menu"],
    data: function () {
        return {

        }
    }
}
</script>
