<template>
<div class="row">
    <template v-if="$store.getters.authUser">
        <div class="col-md-3">
        </div>
        <div class="col-sm-12 col-md-6">
            <create></create>
            <template v-if="Posts != null">
                <template v-if="Posts.length>0">
                    <template v-for="c in Posts">
                        <box :content="c" :single="false" :key="c.id"></box>
                    </template>
                </template>
                <div v-else class="col-md-12">
                    <div class="waiting_div" style="min-height: 400px;">
                        <img src="/empty.png" style="width: 100%" />
                        <p style="text-align: center"> Одоогоор нийтлэл хоосон байна ... </p>
                    </div>
                </div>

            </template>
            <div v-else class="col-md-12">
                <div class="waiting_div" style="min-height: 400px;">
                    <img src="/loading.gif" />
                    <p style="text-align: center"> Уншиж байна ... </p>
                </div>
            </div>
            <scroll-loader :loader-method="gets" :loader-disable="loading">
                <a-icon type="loading" style="color:#fe6400" />
            </scroll-loader>
        </div>
    </template>
    <div v-else class="waiting_div" style="margin-top: 30px !important; min-height: 400px">
        <img src="/access.gif" />
        <p> Та нэвдэрээд дэлгэрэнгүй мэдээлэл авна уу... </p>
    </div>
</div>
</template>

<script>
import Create from "../../components/Post/Create";
import Box from "../../components/Post/Box";

export default {
    name: "Posts",
    components: {
        Create,
        Box
    },

    data: function () {
        return {
            loading: false,
            page: 1,
            Posts: null,
            post_status: 0,
            is_post: 0,

            discount_array: [],
            coupon_array: [],
            voucher_array: [],
        };
    },

    created() {},
    methods: {
        gets() {
            let uri = '/posts';
            axios
                .get(uri, {
                    params: {
                        page: this.page++,
                        status: 0
                    }
                })
                .then(r => {
                    if (r.data.data.length > 0) {
                        if (this.Posts == null) {
                            this.Posts = r.data.data;
                        } else {
                            this.Posts = [...this.Posts, ...r.data.data];
                        }
                    }
                    if (r.data.data.length == 0) {
                        this.loading = true;
                        if(this.Posts == null){
                            this.Posts = [];
                        }
                    }
                });
        }
    }
};
</script>
