<template>
<div class="container">
    <template v-if="$store.getters.authUser">
        <div class="row" v-if="item">
            <div class="col-lg-12 order-lg-2">
                <template v-if="item">
                    <box @refresh="refresh($event)" :content="item" :single="true"></box>
                </template>
                <div class="text-center" v-else>
                    <a-icon type="loading" style="color:#fe6400" />
                </div>
            </div>
        </div>
    </template>
    <div v-else class="waiting_div" style="margin-top: 30px !important; min-height: 400px">
        <img src="/access.gif" />
        <p> Та нэвдэрээд дэлгэрэнгүй мэдээлэл авна уу... </p>
    </div>
</div>
</template>

<script>
import Box from "../../components/Post/Box";
export default {
    name: "Post",
    components: {
        Box
    },
    data: function () {
        return {
            loading: false,
            m_id: false,
            item: false
        };
    },
    created: function () {
        this.checkAuth();
        this.getContent();
    },

    methods: {
        checkAuth() {
            if (!this.$store.getters.authUser) {
                this.$store.dispatch("logout");
                this.$router.push({
                    path: "/main"
                });
            }
        },
        getContent() {
            this.m_id = this.$route.params.id;
            axios.get("/posts/" + this.m_id).then(response => {
                this.item = response.data.data;
            });
        }
    }
};
</script>
